{{extend 'layout.html'}}

{{ main_bg_color = accent_color_bright }}
{{ if highlights or offers: }}
<div class="items-container-full" style="background-color: {{=main_bg_color}}; overflow: auto">
  <h2 class="section-header accent-color-text">{{=ICON('local_offer')}} {{=T('Highlights')}}</h2>
  <div class="highlights">
    {{for highlight in highlights:}}
      <div class="highlight shadow-1" style="background-image: url({{=URL('static', 'uploads/'+highlight.bg_image)}})">
        <div class="data">
          <h2>{{=highlight.title}}</h2>
          <h4>{{=highlight.description}}</h4>
          <a href="{{=highlight.url}}" class="btn btn-block"> {{=T('Check it out')}} </a>
        </div>
      </div>
    {{pass}}
    {{for offer in offers:}}
      <div class="highlight shadow-1" style="background-image: url({{=URL('static', 'uploads/' + offer.bg_image)}})">
        <div class="data">
          <h2>{{=offer.name}}</h2>
          <p>{{=offer.starts_on.strftime('%a %d %B %Y')}} -  {{=offer.ends_on.strftime('%a %d %B %Y')}}</p>
          <a href="{{=URL('offer_group', 'get', args=offer.id)}}" class="btn btn-block"> {{=T('View discounts')}} </a>
        </div>
      </div>
    {{pass}}
  </div>
</div>
{{ pass }}

{{ if popular_items: }}
  <div style="background-color: {{=main_bg_color}}" class="items-container-full">
    <h2 class="section-header accent-color-text">{{=ICON('star')}} {{=T('Popular items')}}</h2>
    <div class="items-container no-wrap">
      {{for popular_item in popular_items:}}
        {{=item_card(popular_item)}}
      {{pass}}
    </div>
  </div>
{{ pass }}


<div>
  <hr>
  <h2 class="section-header" style="margin-top: 0px">{{=T('Some categories')}}</h2>
    {{for category in rand_categories:}}
      <a href="{{=URL('item', 'browse', vars=dict(category=category.id))}}" class="category-link">{{=category.name}}</a>
    {{pass}}
  <hr>
</div>


<h2 class="section-header">{{=ICON('new_releases')}} {{=T('New items')}}</h2>
<div class="items-container full no-wrap">
  {{for new_item in new_items:}}
    {{=item_card(new_item)}}
  {{pass}}
</div>

{{ if services: }}
  <div style="background-color: {{=random_color_mix(ACCENT_COLOR)}}" class="items-container-full">
    <h2 class="section-header accent-color-text">{{=T('Services')}}</h2> <a class="accent-color-text" href="{{=URL('item', 'browse', vars=dict(is_service='yes'))}}">{{=T('More')}}</a>
    <div  class="items-container no-wrap">
      {{for service in services:}}
        {{=item_card(service)}}
      {{pass}}
    </div>
  </div>
{{ pass }}

{{ if stores: }}
<div class="items-container-full base-color-dim">
  <h2 class="section-header">{{=ICON('store')}} {{=T('Stores')}}</h2>
  <div class="highlights">
    {{for store in stores:}}
      {{bg = "background-image: url(%s);" % URL('static', 'uploads/'+ store.image) if store.image else ''}}
      <div class="highlight shadow-1" style="{{=bg}}">
        <div class="data">
          <h2>{{=store.name}}</h2>
          {{ if store.phone_number_1 or store.phone_number_2: }}
            <h4 class="flex icon-text">
              {{=ICON('phone')}}
              {{ if store.phone_number_1:}}
                <a href="tel:{{=store.phone_number_1}}">
                  {{=store.phone_number_1}}
                </a>
              {{pass}}
              {{ if store.phone_number_2:}}
                <a href="tel:{{=store.phone_number_2}}">
                  {{=store.phone_number_2}}
                </a>
              {{pass}}
            </h4>
          {{ pass }}
          {{ if store.email: }}
            <h4 class="flex icon-text">
              {{=ICON('email')}}
              <a href="mailto:{{=store.email}}">
                {{=store.email}}
              </a>
            </h4>
          {{ pass }}
          <h4>{{=full_address(store.id_address)}}</h4>
          {{ if store.map_url: }}
            <a href="{{=store.map_url}}" class="btn btn-block" target="blank"> {{=T('Check map')}} </a>
          {{ pass }}
        </div>
      </div>
    {{pass}}
  </div>
</div>
{{ pass }}



{{block page_js}}
<script>
  $('.highlight').each(function (i, e) {
    $(e).css('min-width', Math.min(window.innerWidth - 30, 400) + 'px');
  })
</script>
{{end}}
