{{include_bag = False}}
{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  {{ load_bag_url = URL('select_bag', args=bag.id, extension='json') }}
  <h1>{{=T('Review your order')}}</h1>
  {{include "bag_2.html"}}
{{end}}

<h1>{{=T('Order information')}}</h1>

<!-- store selection -->
<h4>{{=T('Select the store where you will pick up your order')}}</h4>
<form action="">
  <ul class="list-group">
    {{for store in stores:}}
      <li class="list-group-item" id="store_{{=store.id}}">
        <b>{{=store.name}}</b>
        {{=store.id_address.street}}
        {{=store.id_address.exterior}}
        {{=store.id_address.interior}}
        {{=store.id_address.neighborhood}}
        {{=store.id_address.city}}
        {{=store.id_address.municipality}}
        {{=store.id_address.state_province}}

        <span class="right">
          <input type="radio" name="store" class="store-radio-btn" onclick="set_store({{=store.id}});">
        </span>
      </li>
    {{pass}}
  </ul>
</form>


{{=form}}




{{block page_js}}

{{ if not bag.is_paid: }}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var handler = StripeCheckout.configure({
      key: '{{=STRIPE_PK}}',
      image: '{{=URL("default", "download", args=COMPANY_LOGO_URL) }}',
      locale: 'auto',
      token: function(token) {
        $.ajax({
          url: "{{=URL('pay_and_order', args=bag.id, extension='json')}}?stripeToken=" + token.id
        })
        .done(function (res) {
          $('#stripe_charge_id').val(res.charge_id);
          $('form').submit()
        })
        .fail(function (res) {
          console.log(res);
        })
      }
    });

    $('#custom_button').on('click', function(e) {
      e.preventDefault();
      // first block the bag
      $.ajax({
        url: "{{=URL('order_complete', args=bag.id, extension='json')}}"
      })
      .done(function (res) {
        if (res.completed) {
          document.querySelector('#current_bag input').setAttribute('disabled', 'disabled');
          $('#current_bag .close').remove();
          document.getElementById('custom_button').setAttribute('disabled', 'disabled');
          document.getElementById('pay_on_store_button').setAttribute('disabled', 'disabled');

          handler.open({
            name: '{{=COMPANY_NAME}}',
            description: '{{=bag.quantity.normalize()}} item(s)',
            amount: {{=bag.total}} * 100,
            currency: 'MXN',
            email: "{{=auth.user.email}}"
          });
          e.preventDefault();
        }
      })
      .fail(function (res) {
        console.log(res);
      })
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
  </script>
{{ pass }}


<script>
  $('#bag_container').show();
  $('#bag_buttons').hide();
  $('#sale_order_id_store__row').hide();
  // $('#current_bag input')[0].attr('disabled', 'true');

  function set_store(store_id) {
    $('#sale_order_id_store').val(store_id)
  }
</script>
{{pass}}
