{{extend 'layout.html'}}
<h1> {{=T('Order')}} {{=order.id}} </h1>

<table class="table">
  <thead>
    <th>{{=T('Name')}}</th>
    <th>{{=T('Quantity')}}</th>
    <th>{{=T('Ready')}}</th>
  </thead>
  <tbody>
    {{for item in items:}}
      <tr>
        <td>{{=item['bag_item'].product_name}}</td>
        <td>{{=DQ(item['bag_item'].quantity, True)}}</td>
        <td>{{=item['ready']}}</td>
      </tr>
    {{pass}}
  </tbody>
</table>

<p>
  {{if ready:}}
    {{=T('All the items are ready to be delivered in this store, press the notify buyer button to notify the buyer about its order')}}
  {{else:}}
    {{=T('Some items in the order are not available, press the purchase order button to create a purchase that contains the order items')}}
  {{pass}}
</p>

{{=form}}
