{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  <h1>{{=T('Global settings')}}</h1>
  {{=form}}

  <script>
    $('#settings_primary_color__row').hide();
    $('#settings_primary_color_text__row').hide();
    $('#settings_accent_color__row').hide();
    $('#settings_accent_color_text__row').hide();
    $('#settings_base_color__row').hide();
    $('#settings_base_color_text__row').hide();
  </script>
{{end}}


<template id="proto_preview">
  <div class="preview-container base-color">

    <nav class="primary-color">
      <section class="nav-left">
        <div class="menu-element brand">
          <img src="{{=URL('static', 'uploads/'+COMPANY_LOGO_URL)}}" alt="">
        </div>
        <div class="menu-element">{{=T('menu')}}</div>
      </section>
      <section class="nav-right">
        <div class="menu-element">{{=ICON('more_vert')}}</div>
      </section>
    </nav>
    <div class="preview-content">
      <h1>{{=T('Header')}}</h1>
        <input type="text" class="form-control">
    </div>
    <div id="core_button" class="btn-group btn-group-lg preview-button">
      <button id="core_action" type="button" class="btn btn-primary btn-default accent-color" aria-label="">
        {{=ICON('add')}}
      </button>
    </div>
  </div>
</template>


<h1 id="preview_header">{{=T('Preview')}}</h1>

<div class="panel panel-default preview">
  <div class="panel-body" id="main_preview">

  </div>
  <div class="panel-footer">
    <label for="">{{=T('Primary color')}}</label>
    <input type="color" colorname="primary-color" value="{{=primary_color}}" id="primary_color_picker">
    <label for="">{{=T('Primary color text')}}</label>
    <input type="color" colorname="primary-color" targetattr="color" value="{{=primary_color_text}}" id="primary_color_text_picker">

    <br>
    <label for="">{{=T('Accent color')}}</label>
    <input type="color" colorname="accent-color" value="{{=accent_color}}" id="accent_color_picker">
    <label for="">{{=T('Accent color text')}}</label>
    <input type="color" colorname="accent-color" targetattr="color" value="{{=accent_color_text}}" id="accent_color_text_picker">
  </div>
</div>


<div id="proto_panel" hidden="hidden" class="panel panel-default col-md-6 col-sm-12 col-lg-4 theme-panel">
  <div class="panel-heading">
    <h3>
      <span class="theme-name"></span>
      <button class="right btn btn-default use-btn">{{=T('Use')}}</button>
    </h3>
  </div>
  <div class="panel-body"></div>
</div>


<hr>
<h1>{{=T('Themes')}}</h1>
<div id="themes">

</div>



{{block page_js}}
<script>
  function set_preview_colors(preview, data) {
    preview.find('.primary-color').css('background-color', data.p_color);
    preview.find('.primary-color').css('color', data.p_color_text);
    preview.find('.accent-color').css('background-color', data.a_color);
    preview.find('.accent-color').css('color', data.a_color_text);
  }

  function new_preview(data) {
    var t_preview = document.querySelector('#proto_preview');
    set_preview_colors($(t_preview.content), data);
    var clone = document.importNode(t_preview.content, true);
    return $(clone);
  }

  $('#main_preview').append(new_preview({
    name: 'default',
    p_color: '{{=primary_color}}', p_color_text: '{{=primary_color_text}}',
    a_color: '{{=accent_color}}', a_color_text: '{{=accent_color_text}}'
  }));


  var themes = [
    {
      name: 'Default',
      p_color: '#505050', p_color_text: '#FFFFFF',
      a_color: '#2375CA', a_color_text: '#FFFFFF'
    },
    {
      name: 'Purple Haze',
      p_color: '#6861ac', p_color_text: '#FFFFFF',
      a_color: '#844ddf', a_color_text: '#FFFFFF'
    },
    {
      name: 'Love',
      p_color: '#c37cc1', p_color_text: '#FFFFFF',
      a_color: '#8f76f4', a_color_text: '#FFFFFF'
    },
    {
      name: 'Hate',
      p_color: '#3d3d3d', p_color_text: '#f54545',
      a_color: '#df4d52', a_color_text: '#FFFFFF'
    },
    {
      name: 'Omni',
      p_color: '#616aae', p_color_text: '#FFFFFF',
      a_color: '#4ddf9a', a_color_text: '#FFFFFF'
    },
    {
      name: 'Leaf',
      p_color: '#5bac75', p_color_text: '#FFFFFF',
      a_color: '#f42c6a', a_color_text: '#FFFFFF'
    },
    {
      name: 'Cherry',
      p_color: '#ef4455', p_color_text: '#FFFFFF',
      a_color: '#097eff', a_color_text: '#FFFFFF'
    },
    {
      name: 'Seti',
      p_color: '#3c485b', p_color_text: '#5ef3d2',
      a_color: '#0bf6b3', a_color_text: '#435966'
    }
  ]

  for (var index in themes) {
    var theme = themes[index];
    var panel = $('#proto_panel').clone().show();
    panel.attr('id', 'panel_' + theme.name);
    panel.find('.theme-name').text(theme.name);
    var n_theme = new_preview(theme);
    n_theme.attr('target-theme', index);
    panel.find('.panel-body').append(n_theme);
    panel.find('.use-btn').attr('target', index);
    $('#themes').append(panel);
  }


  function use_theme(index) {
    var theme = themes[index]
    set_preview_colors($('#main_preview'), theme);
    $('#accent_color_picker, #settings_accent_color').val(theme.a_color);
    $('#accent_color_text_picker, #settings_accent_color_text').val(theme.a_color_text);
    $('#primary_color_picker, #settings_primary_color').val(theme.p_color);
    $('#primary_color_text_picker, #settings_primary_color_text').val(theme.p_color_text);
    $('#preview_header')[0].scrollIntoView();
  }

  $('.use-btn').click(function (event) {
    use_theme($(event.target).attr('target'));
  });


  $('input[type="color"]').change(function (event) {
    var target = $(event.target);
    var color_name = target.attr('colorname');
    var target_attr = target.attr('targetattr');
    var target_field = color_name.replace('-', '_');
    if (!target_attr) {
      target_attr = 'background-color';
    } else {
      target_field += '_text';
    }
    $('#main_preview .' + color_name).css(target_attr, target.val())
    $('#settings_' + target_field).val(target.val());
  })

</script>
{{end}}
