{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  <h1>{{=T('Add Offer')}}</h1>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">{{=T('Item discount')}}</button>
    </div>
  </div>
  <hr>

  <form enctype="multipart/form-data" action="{{=URL('add_item_discount')}}" method="post">
    <div class="form-group">
      <label for="discount">{{=T('Discount')}}</label>
      <input type="number" class="form-control" id="discount" placeholder="discount">
      <input type="submit" class="btn-block btn-primary">
    </div>

  </form>
{{end}}

<h1>{{=T('Offers')}}</h1>

{{include 'barcode_scanner.html'}}
