{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}


<style>
  .highlight {
    width: 100%;
    margin: 0px;
  }
</style>

{{block left_sidebar}}
<hr>
<div class="highlight shadow-1" style="background-image: url({{=URL('default', 'download', args=offer_group.bg_image)}})">
  <div class="data">
    <h2>{{=offer_group.name}}</h2>
    <p>{{=offer_group.starts_on.strftime('%a %d %B %Y')}} -  {{=offer_group.ends_on.strftime('%a %d %B %Y')}}</p>
  </div>
</div>
<hr>
{{=discounts_list(discounts)}}
{{end}}

<hr>


<div class="items-container">
  {{for item in items:}}
    {{=item_card(item)}}
  {{pass}}
</div>
