{{left_sidebar_enabled = True}}
{{extend "layout.html"}}


{{block page_css}}
  <link rel="stylesheet" href="{{=URL('static', 'font-awesome/css/font-awesome.min.css')}}">
{{end}}


{{block left_sidebar}}
  <h1>{{=T('Categories')}}</h1>
  <div id="categories_tree"></div>

  {{if filter_data:}}
    <h3>{{=T("Options")}}</h3>
    {{=filter_menu(filter_data)}}
  {{pass}}

  {{ if brand: }}
  <h4>
    <span>
      <input type="checkbox" id="brand_toggle" checked="checked">
      {{=T('Brand')}} {{=brand.name}}
    </span>
  </h4>
  {{ pass }}

{{end}}

<section id="items_list">
  <h1>{{=title}}</h1>
  <div class="items-container">
  </div>
  {{=pages}}
</section>


{{block page_js}}
{{=categories_data_script}}
{{=items_data_script}}
<script>
  window.location.hash = '#items_list';

  $('#brand_toggle').click(function (event) {
    console.log(event.target.checked);
    if (!event.target.checked) {
      var url = "{{=URL('item', 'browse')}}?";
      {{ if category: }} url += 'category={{=category.id}}' {{ pass }}
      {{ if term: }}
        url += '&term={{=term}}';
      {{ pass }}
      window.location.href = url;
    }
  });

  $('#categories_tree').treeview({
    data: categories_tree_data,
    checkedIcon: 'fa fa-check-square-o',
    uncheckedIcon: 'fa fa-square-o',
    expandIcon: 'fa fa-plus',
    collapseIcon: 'fa fa-minus',
    highlightSelected: true,
    levels: 1
  });

  $('#categories_tree').on('nodeSelected', function(event, data) {
    var vars = '?category=' + data.category_id;
    {{ if brand: }}
      vars += '&brand={{=brand.id}}';
    {{ pass }}

    url = "{{=URL('browse')}}" + vars;
    {{if is_service:}}
      url += '&is_service=yes'
    {{pass}}
    {{ if term: }}
      url += '&term={{=term}}';
    {{ pass }}
    window.location.href = url;
  });
  $('#categories_tree').on('nodeUnselected', function(event, data) {
    url = "{{=URL('browse')}}?";
    {{if is_service:}}
      url += 'is_service=yes&'
    {{pass}}
    {{ if brand: }}
      url += 'brand={{=brand.id}}';
    {{ pass }}
    {{ if term: }}
      url += '&term={{=term}}';
    {{ pass }}

    window.location.href = url;
  });

  // when the category is not visible, we have reveal it
  var selected_node = $('#categories_tree').treeview('getSelected')[0];
  if (selected_node) {
    $('#categories_tree').treeview('revealNode', [ selected_node.nodeId, { silent: true }
    ]);
  }

  ITEM_CARDS.create_item_cards(items_data, $('.items-container'));
</script>
{{end}}
