{{left_sidebar_enabled = True}}
{{extend "layout.html"}}


{{block page_css}}
  <link rel="stylesheet" href="{{=URL('static', 'font-awesome/css/font-awesome.min.css')}}">
{{end}}


{{block left_sidebar}}
  <h1>{{=T('Categories')}}</h1>
  <div id="categories_tree"></div>

  {{if filter_data:}}
    <h3>{{=T("Options")}}</h3>
    {{=filter_menu(filter_data)}}
  {{pass}}
{{end}}

<section id="items_list">
  <h1>{{=title}}</h1>
  <div class="items-container">
    {{for item in items:}}
      {{=item_card(item)}}
    {{pass}}
  </div>
  {{=pages}}
</section>

{{=categories_data_script}}


{{block page_js}}
<script>
  window.location.href += '#items_list';
  $('#categories_tree').treeview({
    data: categories_tree_data,
    checkedIcon: 'fa fa-check-square-o',
    uncheckedIcon: 'fa fa-square-o',
    expandIcon: 'fa fa-plus',
    collapseIcon: 'fa fa-minus',
    highlightSelected: true,
    levels: 1
  });

  $('#categories_tree').on('nodeSelected', function(event, data) {
    url = "{{=URL('browse')}}?category=" + data.category_id;
    {{if is_service:}}
      url += '&is_service=yes'
    {{pass}}
    window.location.href = url;
  });

  // when the category is not visible, we have
  var selected_node = $('#categories_tree').treeview('getSelected')[0];
  if (selected_node) {
    $('#categories_tree').treeview('revealNode', [ selected_node.nodeId, { silent: true } ]);
  }
</script>
{{end}}
