{{extend 'layout.html'}}
<h2>{{=T("New Item")}}</h2>
{{=barcode_form}}
{{=form}}


{{item_id = item.id if item else None}}
<script type="text/javascript">
  // barcode checking
  $('#barcode_form').on('submit', function(event) {
    event.preventDefault();
    // #TODO we have to check if theres another item with this barcode, also determine the barcode type
    return false;
  })


  $('#categories_tree').treeview({
    data: categories_tree_data,
    checkedIcon: 'fa fa-check-square-o',
    uncheckedIcon: 'fa fa-square-o',
    expandIcon: 'fa fa-plus',
    collapseIcon: 'fa fa-minus',
    showCheckbox: true,
    highlightSelected: false,
    levels: 1
  });


  function traits_tree() {
    var selected = $('#categories_tree').treeview('getChecked');
    var selected_categories = "";
    for(var i = 0; i < selected.length; i++) {
      selected_categories += selected[i].category_id;
      if (i < selected.length - 1) {
        selected_categories += ',';
      }
    }
    $('#categories_selected').prop('value', selected_categories);
    $.ajax({
      url: "{{=URL('trait_selector_data', args=item_id, extension='json')}}?categories=" + selected_categories
    })
    .done(function(data) {
      if (data.status == "1") {
      }
      $('#traits_tree').treeview({
        data: data.traits,
        multiSelect: true,
        selectedIcon: 'fa fa-check',
        expandIcon: 'fa fa-plus',
        collapseIcon: 'fa fa-minus',
        highlightSelected: false,
        levels: 1
      });

      $('#traits_tree').bind('nodeSelected nodeUnselected', function(event, node) {
        var siblings = $('#traits_tree').treeview('getSiblings', node);
        var selected_traits = "";
        for(var i = 0; i < siblings.length; i++) {
          $('#traits_tree').treeview('unselectNode', [ siblings[i], { silent: true } ]);
        }
        var selected = $('#traits_tree').treeview('getSelected');
        var selected_traits = "";
        for(var i = 0; i < selected.length; i++) {
          selected_traits += selected[i].trait_id;
          if (i < selected.length - 1) {
            selected_traits += ',';
          }
        }
        $('#traits_selected').prop('value', selected_traits);
        console.log(selected_traits);
      });

    });
  };


  $('#categories_tree').bind('nodeChecked nodeUnchecked', function(event, node) {
    traits_tree();
  });



  $('#category_search').bind('change paste keyup', function(event) {
    var pattern = $(this).val()
    $('#categories_tree').treeview('collapseAll', { silent: true });
    $('#categories_tree').treeview('search', [pattern , {
      ignoreCase: true,     // case insensitive
      exactMatch: false,    // like or equals
      revealResults: true  // reveal matching nodes
    }]);
  })

  $("#item_is_bundle").on('click', function(event) {
    console.log(event.target.checked);
    if (event.target.checked) {
      $("#bundle_items_form_group").show();
    }
    else {
      $("#bundle_items_form_group").hide();
    }
  });

  traits_tree();
</script>
