{{extend 'layout.html'}}
<h2>{{=T("New Item")}}</h2>
{{=form}}


{{item_id = item.id if item else "null"}}
<script>
  item_id = {{=item_id}};
  initial_selected_traits = '';
  {{for id_trait in item.traits:}}
    initial_selected_traits += "{{=id_trait}}";
    {{if id_trait != item.traits[-1]:}}
      initial_selected_traits += ','
    {{pass}}
  {{pass}}
</script>
<script type="text/javascript" src="{{=URL('static', 'js/create_item.js')}}"></script>
<script type="text/javascript">
  // barcode checking
  $('#barcode_form').on('submit', function(event) {
    event.preventDefault();
    return false;
  })
</script>
