{{extend 'layout.html'}}
<h1>{{=T('Items')}}</h1>


{{if rows:}}
  {{delete_enabled = True}}
  {{include 'selection_menu.html'}}

  <table class="table">
    <thead>
      {{=data_headers(['name'])}}
    </thead>
    <tbody>
      {{for row in rows:}}
        {{if row.is_bundle:}}
          {{=data_row(row, fields=['name'], extra_options={'name': 'view'})}}
        {{else:}}
          {{=data_row(row, fields=['name'])}}
        {{pass}}
      {{pass}}
    </tbody>
  </table>
  {{
    =data_table(['#', 'Name', 'Percentage', 'Symbol'], rows,
                ['id', 'name', 'percentage', 'symbol'])
  }}
{{else:}}
  {{=T('No Items found')}}
  {{if request.user_agent().is_mobile:}} {{=T('touch')}} {{else:}} {{=T('click')}} {{pass}}
  {{=T('the plus button to create one.')}}
{{pass}}

{{include 'fab.html'}}
