{{extend 'layout.html'}}
<h1>{{=T('Items')}}</h1>


{{if rows:}}
  {{delete_enabled = True}}
  {{include 'selection_menu.html'}}
  <table class="table table-hover">
    <thead>
      {{=data_headers(['Name'])}}
    </thead>
    <tbody>
      {{for row in rows:}}
        <tr>
          {{if row.is_bundle:}}
            {{=data_row(row, ['name'], _vars={'is_bundle': True})}}
          {{else:}}
            {{=data_row(row, ['name'])}}
          {{pass}}
        </tr>
      {{pass}}
    </tbody>
  </table>

{{else:}}
  {{=T('No Items found')}}
  {{if request.user_agent().is_mobile:}} {{=T('touch')}} {{else:}} {{=T('click')}} {{pass}}
  {{=T('the plus button to create one.')}}
{{pass}}

{{include 'fab.html'}}
