{{left_sidebar_enabled = True}}

{{extend "layout.html"}}



{{block left_sidebar}}
  <script src="{{=URL('static','js/jquery-barcode.min.js')}}" charset="utf-8"></script>
  <script src="{{=URL('static', 'js/jspdf.min.js')}}" charset="utf-8"></script>


  <h1>{{=T('Item labels')}}</h1>

  <script>
    var items_list = [];

    var row = 0;
    var col = 0;
  </script>
  <div class="list-group">
  {{for item in items:}}
    {{qty = 10}}
    {{_item = item}}
    {{if item.has_key('id_item'):}}
      {{_item = item.id_item}}
      {{qty = int(item.purchase_qty)}}
    {{pass}}

    <script>
      items_list.push({ name: '{{=_item.id}}', qty: {{=qty}} })
    </script>

    <div class="list-group-item">
      <p>{{=_item.name}}</p>
      <input type="number" value="{{=qty}}" class="form-control">
    </div>

    <div id="proto_label_{{=_item.id}}" hidden="hidden">
      <div style="overflow: ellipsis">{{=_item.name}}</div>
      {{taxes = item_taxes(_item, _item.base_price)}}
      <div>$ {{=DQ(_item.base_price + taxes, True)}}</div>
      <div id="barcode_{{=_item.id}}" class="barcode" style="margin: auto"> </div>
      <script>
        $("#barcode_{{=_item.id}}").barcode({code: "{{=item_barcode(_item)}}", crc: false}, "code39", {barHeight: 20, barWidth: 1})
      </script>
    </div>
  {{pass}}
  </div>


  <button class="btn btn-primary btn-block" id="create_file">
    {{=T('Create file')}}
  </button>

{{end}}


<h1>{{=T('Sheets')}}</h1>


<div id="out"></div>

<div>
  <canvas id="canvas" style="background-color: white; margin: auto;" hidden="hidden"></canvas>
</div>

<script>
function pdf_page(content, pdf_doc, newpage, callback) {
  if (!pdf_doc) {
    return;
  }
  if (newpage) {
    pdf_doc.addPage();
  }
  var canvas = document.getElementById('canvas');
  var sheet = $(content);
  var pageW = sheet.innerWidth();
  var pageH = sheet.innerHeight();
  canvas.width = pageW;
  canvas.height = pageH;

  var ctx = canvas.getContext('2d');

  ctx.fillStyle = 'white';
  ctx.fillRect(0, 0, canvas.width, canvas.height);
  ctx.fillStyle = 'black';

  var data = '<svg xmlns="http://www.w3.org/2000/svg" width="22cm" height="28cm">' +
             '<foreignObject width="100%" height="100%">' +
             '<div xmlns="http://www.w3.org/1999/xhtml">' +
               sheet.prop('outerHTML') +
             '</div>' +
             '</foreignObject>' +
             '</svg>';

  var DOMURL = window.URL || window.webkitURL || window;

  var img = new Image();
  img.crossOrigin = "Anonymous";
  var svg = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
  var url = DOMURL.createObjectURL(svg);
  console.log(url);

  img.onload = function () {
    ctx.drawImage(img, 0, 0);
    DOMURL.revokeObjectURL(url);

    try {
      var dataURL = canvas.toDataURL('image/jpeg', 1);
      pdf_doc.addImage(dataURL, 'JPEG', 0, 0);
      if (callback) { callback(); }
    }
    catch (e) {
      window.print();
    }
  }
  img.src = url;
}


$(document).ready(function () {
  $('#create_file').click(function (event) {

    var doc = new jsPDF('p', 'mm', 'letter');
    var sheet = $('#sheet_{{=items[0].id}}').children()[0];
    pdf_page(sheet, doc, false, function () { doc.save('labels.pdf') });
  });
});
</script>


<style>
  .sheet .label-cell {
    border: 1px dashed lightgrey;
  }

  .sheet {
    margin-top: 20px;
  }

  @page {
     size: portrait;
     margin: 0;
  }

  @media print {
    nav, .left-sidebar, footer, h1, #bag_container, #bag_container * {
      display: none;
    }
    body, .col-md-9, .sheet {
      margin: 0px;
      padding: 0px;
      box-shadow: none;
    }
    .sheet .label-cell {
      border: none;
    }
  }
</style>


{{cols = 3}}
{{rows = 8}}
{{start_col = 0}}
{{start_row = 0}}


<section id="proto_sheet" hidden="hidden" class="sheet" style="padding: {{=PAPER_MARGIN_TOP}}cm {{=PAPER_MARGIN_RIGHT}}cm {{=PAPER_MARGIN_BOTTOM}}cm {{=PAPER_MARGIN_LEFT}}cm; width: {{=PAPER_WIDTH}}cm; height: {{=PAPER_HEIGHT}}cm; background-color: white; overflow: hidden;">
  <div style="font-size: 12px; font-family: monospace; width: {{=PAPER_WIDTH - PAPER_MARGIN_LEFT - PAPER_MARGIN_RIGHT}}cm; height: {{=PAPER_HEIGHT - PAPER_MARGIN_TOP - PAPER_MARGIN_BOTTOM}}cm; line-height: 1.3; display: flex; flex-direction: column;">
    {{card_w = (PAPER_WIDTH - (PAPER_MARGIN_LEFT + PAPER_MARGIN_RIGHT + LABEL_SPACE_X * (cols - 1))) / cols }}
    {{card_h = (PAPER_HEIGHT - (PAPER_MARGIN_TOP + PAPER_MARGIN_BOTTOM + LABEL_SPACE_Y * (rows - 1))) / rows }}
    {{index = 0}}
    {{for i in range(rows):}}
      {{space_y = LABEL_SPACE_Y if i != rows - 1 else 0}}
      <div style="display: flex; flex: 1 1 auto;">
        {{for j in range(cols):}}
          {{space_x = LABEL_SPACE_X if j != cols - 1 else 0}}
          <div class="label-cell" style="text-align: center; margin: 0cm {{=space_x}}cm {{=space_y}}cm 0cm; flex: 1 1 auto; display: flex; justify-content: center; align-items: center; max-width: {{=card_w}}cm; max-height: {{=card_h}}cm; min-width: {{=card_w}}cm; min-height: {{=card_h}}cm; overflow: hidden">
            <div class="cell_{{=i * (cols * rows + 1) + j}} card-contents" style="margin: 0px;" index="{{=index}}"> </div>
            {{index += 1}}
          </div>
        {{pass}}
      </div>
    {{pass}}
  </div>
</section>


<section id="sheets">
</section>

{{row_mul = rows * cols + 1}}
{{max_cell = (rows - 1) * row_mul + cols}}

<script>
  var sheet_index = 0
  function create_new_sheet() {
    var new_sheet = $('#proto_sheet').clone();
    new_sheet.attr('id', 'sheet_' + sheet_index);
    new_sheet.show();
    sheet_index += 1;
    $('#sheets').append(new_sheet);
    return new_sheet;
  }

  function delete_sheets() {
    $('#sheets').children().remove();
    sheet_index = 0;
  }

  function create_sheets() {
    var new_sheet = create_new_sheet()
    var label_index = row * {{=cols}} + col;

    for (index in items_list) {
      item = items_list[index];
      for (var i = 0; i < item.qty; i++) {
        c = label_index % {{=cols}};
        r = parseInt(label_index / {{=cols}});
        cell_id =  r * {{=row_mul}} + c
        if (cell_id >= {{=max_cell}}) {
          row = 0; col = 0;
          var label_index = 0;
          c = label_index % {{=cols}};
          r = parseInt(label_index / {{=cols}});
          cell_id =  r * {{=row_mul}} + c
          new_sheet = create_new_sheet();
        }
        new_sheet.find('.cell_' + cell_id).html($('#proto_label_' + item.name).html());
        label_index += 1;
      }
    }
  }

  create_new_sheet();

  function cell_selector_event() {
    $('.label-cell').click(function (event) {
      var cell_index = $($(event.target).children()[0]).attr('index')
      row = parseInt(cell_index / {{=cols}});
      col = cell_index % {{=cols}};

      delete_sheets();
      create_sheets();

      cell_selector_event();
    });
  }

  cell_selector_event();
</script>
