{{left_sidebar_enabled = True}}

{{extend "layout.html"}}

{{block page_css}}
  <link rel="stylesheet" href="{{=URL('static', 'css/ctrlpyme_print.css')}}">
{{end}}

{{cols = layout.cols}}
{{rows = layout.rows}}
{{card_w = layout.label_width}}
{{card_h = layout.label_height}}
{{start_col = 0}}
{{start_row = 0}}


{{block left_sidebar}}
  <script src="{{=URL('static','js/jquery-barcode.min.js')}}" charset="utf-8"></script>

  <h1>{{=T('Item labels')}}</h1>

  <h3>{{=T('Page format')}}</h3>
  <select name="" id="page_format" class="form-control">
    {{for p_layout in db(db.labels_page_layout).select():}}
      <option value="{{=URL('labels', args=request.args, vars=dict(id_layout=p_layout.id, id_purchase=request.vars.id_purchase))}}" {{if p_layout.id == layout.id:}} selected="selected" {{pass}}>
        {{=p_layout.name}}
      </option>
    {{pass}}
  </select>

  <script>
    $('#page_format').on('change', function (event) {
      window.location.href = event.target.value
    });
    var items_list = [];

    var row = 0;
    var col = 0;
  </script>
  <h3>{{=T('Items list')}}</h3>
  <div class="list-group">
  {{i = -1}}
  {{for item in items:}}
    {{i += 1}}
    {{qty = 10}}
    {{_item = item}}
    {{if item.has_key('id_item'):}}
      {{_item = item.id_item}}
      {{qty = int(item.purchase_qty)}}
    {{pass}}

    <script>
      items_list.push({ name: '{{=_item.id}}', qty: {{=qty}}, enabled: true })
    </script>

    <div class="list-group-item">
      <p>{{=_item.name}}</p>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" checked="checked" class="labels-enabled" index="{{=i}}"> {{=T('print')}}
        </span>
        <input type="number" value="{{=qty}}" class="form-control labels-qty" index="{{=i}}">
      </div>
    </div>

    <div id="proto_label_{{=_item.id}}" hidden="hidden">
      {{if layout.show_item_name:}}
        <div style="text-overflow: ellipsis; overflow: hidden; max-height: {{=LABEL_HEIGHT / 4}}cm;">{{=_item.name}}</div>
      {{pass}}
      {{if layout.show_price:}}
        {{taxes = item_taxes(_item, _item.base_price)}}
        <div>$ {{=DQ(_item.base_price + taxes, True)}}</div>
      {{pass}}
      <div id="barcode_{{=_item.id}}" class="barcode" style="margin: auto"> </div>
      <script>
        $("#barcode_{{=_item.id}}").barcode({code: "{{=item_barcode(_item)}}", crc: false}, "code39", {barHeight: 20, barWidth: 1})
      </script>
    </div>
  {{pass}}
  </div>


  <button class="btn btn-primary btn-block" onclick="window.print()">
    {{=T('print')}}
  </button>
{{end}}


<h1 class="noprint">{{=T('Sheets')}}</h1>

<style>
  .sheet .label-cell {
    border: 1px dashed lightgrey;
  }

  .sheet {
    margin-top: 20px;
  }

  @page {
     size: portrait;
     margin: 0;
  }
</style>




<section id="proto_sheet" hidden="hidden" class="sheet" style="padding: {{=layout.margin_top}}cm {{=layout.margin_right}}cm {{=layout.margin_bottom}}cm {{=layout.margin_left}}cm; width: {{=layout.width}}cm; height: {{=layout.height}}cm; background-color: white; overflow: hidden;">
  <div style="font-size: 12px; font-family: monospace; width: {{=layout.width - layout.margin_left - layout.margin_right}}cm; height: {{=layout.height - layout.margin_top - layout.margin_bottom}}cm; line-height: 1.3; display: flex; flex-direction: column;">
    {{index = 0}}
    {{for i in range(rows):}}
      {{space_y = layout.space_y if i != rows - 1 else 0}}
      <div style="display: flex; flex: 1 1 auto;">
        {{for j in range(cols):}}
          {{space_x = layout.space_x if j != cols - 1 else 0}}
          <div class="label-cell" style="text-align: center; margin: 0cm {{=space_x}}cm {{=space_y}}cm 0cm; flex: 1 1 auto; display: flex; justify-content: center; align-items: center; max-width: {{=card_w}}cm; max-height: {{=card_h}}cm; min-width: {{=card_w}}cm; min-height: {{=card_h}}cm; overflow: hidden">
            <div class="cell_{{=i * (cols * rows + 1) + j}} card-contents" style="margin: 0px;" index="{{=index}}"> </div>
            {{index += 1}}
          </div>
        {{pass}}
      </div>
    {{pass}}
  </div>
</section>


<section id="sheets">
</section>



{{block page_js}}

{{row_mul = rows * cols + 1}}
{{max_cell = (rows - 1) * row_mul + cols}}

<script>
  var sheet_index = 0
  function create_new_sheet() {
    var new_sheet = $('#proto_sheet').clone();
    new_sheet.attr('id', 'sheet_' + sheet_index);
    new_sheet.show();
    sheet_index += 1;
    $('#sheets').append(new_sheet);
    return new_sheet;
  }

  function delete_sheets() {
    $('#sheets').children().remove();
    sheet_index = 0;
  }

  function create_sheets() {
    var new_sheet = create_new_sheet()
    var label_index = row * {{=cols}} + col;

    for (index in items_list) {
      item = items_list[index];
      if (!item.enabled) { continue; }
      for (var i = 0; i < item.qty; i++) {
        c = label_index % {{=cols}};
        r = parseInt(label_index / {{=cols}});
        cell_id =  r * {{=row_mul}} + c
        if (cell_id >= {{=max_cell}}) {
          row = 0; col = 0;
          var label_index = 0;
          c = label_index % {{=cols}};
          r = parseInt(label_index / {{=cols}});
          cell_id =  r * {{=row_mul}} + c
          new_sheet = create_new_sheet();
        }
        new_sheet.find('.cell_' + cell_id).html($('#proto_label_' + item.name).html());
        label_index += 1;
      }
    }
  }

  create_new_sheet();

  function cell_selector_event() {
    $('.label-cell').click(function (event) {
      var cell_index = $($(event.target).children()[0]).attr('index')
      row = parseInt(cell_index / {{=cols}});
      col = cell_index % {{=cols}};

      delete_sheets();
      create_sheets();

      cell_selector_event();
    });
  }

  cell_selector_event();


  $('.labels-qty').change(function (event) {
    var target = $(event.target);
    var index = target.attr('index');
    items_list[index].qty = target.val();
    delete_sheets();
    create_sheets();
    cell_selector_event();
  });

  $('.labels-enabled').change(function (event) {
    var target = $(event.target);
    var index = target.attr('index');
    items_list[index].enabled = event.target.checked;
    delete_sheets();
    create_sheets();
    cell_selector_event();
  });
</script>
{{end}}
