{{left_sidebar_enabled = True}}

{{extend "layout.html"}}

{{block left_sidebar}}
  <h1>{{=T('Item labels')}}</h1>
  <button class="btn btn-primary btn-block" id="create_file">
    {{=T('Create file')}}
  </button>

{{end}}


<h1>{{=T('Sheets')}}</h1>


<script src="{{=URL('static','js/jquery-barcode.min.js')}}" charset="utf-8"></script>
<script src="{{=URL('static', 'js/html2canvas.js')}}" charset="utf-8"></script>
<script src="{{=URL('static', 'js/jspdf.min.js')}}" charset="utf-8"></script>


<div id="out"></div>

<canvas id="canvas" style="background-color: white;">

</canvas>


<script>
$(document).ready(function () {
  $('#create_file').click(function (event) {
    // var doc = new jsPDF();


    var canvas = document.getElementById('canvas');
    var sheet = $($('#sheet_29').children()[0]);
    var pageW = sheet.innerWidth();
    var pageH = sheet.innerHeight();
    canvas.width = pageW;
    canvas.height = pageH;

    var ctx = canvas.getContext('2d');

    var data = '<svg xmlns="http://www.w3.org/2000/svg" width="22cm" height="28cm">' +
               '<foreignObject width="100%" height="100%">' +
               '<div xmlns="http://www.w3.org/1999/xhtml">' +
                 sheet.html() +
               '</div>' +
               '</foreignObject>' +
               '</svg>';

    var DOMURL = window.URL || window.webkitURL || window;

    var img = new Image();
    var svg = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
    var url = DOMURL.createObjectURL(svg);

    img.onload = function () {
      ctx.drawImage(img, 0, 0);
      DOMURL.revokeObjectURL(url);
    }

    img.src = url;

    // var doc = document.implementation.createHTMLDocument("");
    // console.log(doc);
    // html = $('#sheet_29').html();
    // doc.write(html);
    // console.log(doc);
    //
    // doc.documentElement.setAttribute("xmlns", doc.documentElement.namespaceURI);
    // html = (new XMLSerializer).serializeToString(doc);
    // console.log(html);
  });
});
</script>


<style>
  table {
    width: 100%;
  }
  .item-label {
    padding: .5cm;
    text-align: center;
  }

  .barcode {
    margin: auto;
  }

  .sheet {
    margin-top: 16px;
  }


  @media print {
    .left-sidebar, nav, footer, .col-md-9>h1 {
      display: none;
    }

    body {
      padding:0px;
      margin:0px;
    }

    .col-md-9 {
      padding: 0px;
      margin: 0px;
      width: auto;
    }

    .sheet {
      display: block;
      box-shadow: none;
      padding: 0px;
    }
  }
</style>

<section>
  {{for item in items:}}
  <div id="sheet_{{=item.id}}">
    <section class="sheet" style="padding: {{=PAPER_MARGIN_TOP}}cm {{=PAPER_MARGIN_RIGHT}}cm {{=PAPER_MARGIN_BOTTOM}}cm {{=PAPER_MARGIN_LEFT}}cm;">
      <table style="font-size: 12px; font-family: monospace; margin: auto; padding-top: {{=PAPER_MARGIN_TOP}}cm; ">
        {{for i in range(7):}}
          <tr>
            {{for j in range(3):}}
              <td class="item-label" style="padding: .5cm; text-align: center">
                <div>{{=item.name}}</div>
                {{taxes = item_taxes(item, item.base_price)}}
                <div>$ {{=DQ(item.base_price + taxes, True)}}</div>
                <div id="barcode_{{=item.id}}_{{=i}}_{{=j}}" class="barcode" style="margin: auto"> </div>
                <script>
                  $("#barcode_{{=item.id}}_{{=i}}_{{=j}}").barcode({code: "{{=item.sku}}", crc: false}, "code39", {barHeight: 20})
                </script>
              </td>
            {{pass}}
          </tr>
        {{pass}}
      </table>
    </section>
  </div>

  {{pass}}
</section>
