<h1 class="flex justified between time-range-chart-header">
    <span class="chart-card-title">{{=T("Today")}}</span>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-prev">
            {{=ICON('arrow_back')}}
        </button>
        <button type="button" class="btn btn-default btn-calendar">
            {{=ICON('date_range')}}
        </button>
        <button type="button" class="btn btn-default btn-next">
            {{=ICON('arrow_forward')}}
        </button>
    </div>
</h1>