
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button class="btn btn-primary btn-block" id="add_bag_btn">{{=T('Add Bag')}}</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" onclick="show_active_bags();">{{=T('Bags')}} <i class="fa fa-chevron-down"></i></button>
  </div>
</div>

<br>


<!-- Active bags -->
<div class="list-group" id="active_bags" hidden="hidden">
  {{for bag in db((db.bag.is_active == True) & (db.bag.created_by == auth.user.id)).select():}}
    <a href="#" class="list-group-item" onclick="load_bag({{=bag.id}});" id="bag_selector_{{=bag.id}}">
      {{=T('Bag')}} {{=bag.id}}
    </a>
  {{pass}}
</div>

<!-- Bag -->
<div class="panel panel-default" id="current_bag">
  <div class="panel-heading">
    <h3>{{=T('Bag')}} <span id="bag_id"></span> <i class="fa fa-compress right collapse_bag"></i></h3>
  </div>
  <div class="panel-body">
    {{include 'barcode_scanner.html'}}

    <div class="list-group" id="bag_items_list">
    </div>
  </div>

  <div class="panel-footer">
    <p> <span>{{=T('Subtotal')}}</span> <span class="right subtotal">00</span> </p>
    <p> <span>{{=T('Taxes')}}</span> <span class="right taxes">00</span> </p>
    <p> <span>{{=T('Total')}}</span> <span class="right total">00</span> </p>
    <hr>

    <button class="btn btn-danger discard_bag" onclick="discard_bag();">
      {{=T('Discard')}}
    </button>
    <button class="btn btn-primary right sell_bag" onclick="sell_bag();">
      {{=T('Sell')}}
    </button>
  </div>
</div>




<div id="proto_bag_item" class="list-group-item" hidden="hidden">
  <div>
    <h4><span class="item_name"></span><i class="fa fa-times right close"></i></h4>
    <p><span class="item_price base_price"></span></p>
    <p>
      <div class="btn-group btn-group-justified extra_prices" role="group" aria-label="...">
        <a type="button" class="btn btn-default btn-primary item_price"></a>
        <a type="button" class="btn btn-default price2"></a>
        <a type="button" class="btn btn-default price3"></a>
      </div>
    </p>

    <div class="input-group">
      <div class="input-group-addon">{{=T('Quantity')}}</div>
      <input type="number" class="form-control item_qty">
    </div>
  </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="access_code_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{=T('Manager access')}}</h4>
      </div>
      <div class="modal-body">
        <input type="text" id="access_code" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary submit">
          {{=T('Authenticate')}}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Scanner script -->
{{if not session.current_bag:}}
<script>
  $('#current_bag').hide();
</script>

{{pass}}
<script>
  function set_sale_price(price_index, bag_item_id, target) {
    $('#access_code_modal').find('.submit').click(function (event) {
      $.ajax({
        url: "{{=URL('bag', 'change_bag_item_sale_price', extension='json')}}/" + price_index + '/' + bag_item_id + '/' + $('#access_code').val()
      })
      .done(function (data) {
        $('#access_code_modal').modal('hide');
        $(target).parent().find('.btn-primary').removeClass('btn-primary');
        $(target).addClass('btn-primary');
      })
      .fail(function (data) {
        alert('Invalid access');
      })
    })
    $('#access_code_modal').modal();
  }


  function base_add_bag_item(bag_item) {
    var item = $('#bag_items_list').find('#bag_item_' + bag_item.id)[0];
    if (item) {
      $(item).find('.item_qty').val(bag_item.quantity);
    }
    else {
      $('#bag_items_list').prepend(clone_proto_item(bag_item, bag_item.barcode));
    }
  }


  function clone_proto_item(data, barcode) {
    var new_item = $('#proto_bag_item').clone();
    var new_item_id = 'bag_item_' + data.id;
    new_item.attr('id', new_item_id);
    new_item.attr('barcode', barcode);
    new_item.attr('itemid', data.id_item);
    new_item.find('.item_name').text(data.name);
    new_item.find('.item_price').text(data.base_price);

    if (data.price2 || data.price3) {
      new_item.find('.base_price').parent().remove();
      var price2_btn = new_item.find('.price2');
      var price3_btn = new_item.find('.price3');

      var base_price_btn = new_item.find('.item_price');
      base_price_btn.click(function(event) {
        set_sale_price(1, data.id, event.target);
      });

      if (data.price2) {
        price2_btn.text(data.price2);
        price2_btn.click(function(event) {
          set_sale_price(2, data.id, event.target);
        });
      }
      else {
        price2_btn.remove();
      }
      if (data.price3) {
        price3_btn.text(data.price3);
        price3_btn.click(function(event) {
          set_sale_price(3, data.id, event.target);
        });
      }
      else {
        price3_btn.remove();
      }
    }
    else {
      new_item.find('.extra_prices').remove();
    }

    new_item.find('.item_qty').val(data.quantity);

    new_item.find('.close').click(function(event) {
      $.ajax({
        url: "{{=URL('bag', 'delete_bag_item', extension='json')}}/" + data.id
      })
      .done(function(res) {
        $('#' + new_item_id).remove();
      })
    })

    new_item.find('.item_qty').change(function (event) {
      $.ajax({
        url: "{{=URL('bag', 'modify_bag_item', extension='json')}}/" + data.id + '?quantity=' + $(this).val()
      })
      .done(function (data) {
        console.log(data);
      })
    });

    new_item.show();

    return new_item;
  }

  function requirement(barcode) {
    return true;
  }

  function success_callback(data, barcode) {
    $.ajax({
      url: "{{=URL('bag', 'add_bag_item', extension='json')}}/" + data.id
    })
    .done(function (res) {
      bag_item = res.bag_item;
      base_add_bag_item(bag_item);
    })
  }


  function fail_callback(data, barcode) {

  }

  setup_scanner(success_callback, fail_callback, requirement);
</script>


<script>
  function show_active_bags() {
    $('#active_bags').toggle();
  }


  function load_bag(bag_id) {
    // retrieve bag items
    $.ajax({
      url: "{{=URL('bag', 'select_bag', extension='json')}}/" + bag_id
    })
    .done(function (data) {
      var bag = data.bag
      $('#bag_items_list').children().remove();
      $('#bag_id').text(bag.id);

      for (var bag_item_id in data.bag_items) {
        var bag_item = data.bag_items[bag_item_id]
        $('#bag_items_list').prepend(clone_proto_item(bag_item, bag_item.barcode));
      }

      $('#current_bag .subtotal').text(data.subtotal);
      $('#current_bag .total').text(data.total);

      $('#active_bags').hide();

      $('#current_bag').show();
    });
  }


  function add_bag_item(item_id) {
    $.ajax({
      url: "{{=URL('bag', 'add_bag_item', extension='json')}}/" + item_id
    })
    .done(function (res) {
      bag_item = res.bag_item;
      base_add_bag_item(bag_item);
    })
  }


  $('#add_bag_btn').on('click', function(event) {
    $.ajax({
      url: "{{=URL('bag', 'create', extension='json')}}"
    })
    .done(function (data) {
      load_bag(data.bag);

      // add the new bag to the active bags list
      var bag_selector = document.createElement('a');
      bag_selector.id = 'bag_selector_' + data.bag;
      bag_selector.innerHTML = '{{=T("Bag")}} ' + data.bag;
      bag_selector.href = '#';
      bag_selector.className = 'list-group-item';
      $('#active_bags').append(bag_selector);
      $('#bag_selector_' + data.bag).click(function(event) {
        load_bag(data.bag);
      });
    })
  });


  function discard_bag() {
    $.ajax({
        url: "{{=URL('bag', 'discard_bag', extension='json')}}"
      })
      .done(function (res) {
        var removed = res.removed;
        $('#bag_selector_' + removed).remove();
        load_bag(res.other_bag.id)
        return false;
      })
  }


  function sell_bag() {
    window.location.href = "{{=URL('sale', 'create')}}";
  }


  $('#proto_bag_item').hide();

  function collapse_bag() {
    console.log('collapse');
  }


  $('.panel').find('.collapse_bag').on('click', function(event) {
    if ($(event.target).hasClass('fa-compress')) {
      $(event.target).removeClass('fa-compress');
      $(event.target).addClass('fa-expand');
    }
    else if ($(event.target).hasClass('fa-expand')) {
      $(event.target).removeClass('fa-expand');
      $(event.target).addClass('fa-compress');
    }
    $('#current_bag .panel-body').toggle();
  });

  load_bag({{=session.current_bag}});
</script>
