{{ # parameters }}
{{ try: }}
{{   load_bag_url }}
{{ except NameError: }}
{{   load_bag_url = URL('bag', 'select_bag', extension='json') }}
{{ pass }}
{{ try: }}
{{   bag_only_items_list  # used to hide bag buttons }}
{{ except NameError: }}
{{   bag_only_items_list = False }}
{{ pass }}
{{ try: }}
{{   show_total_without_discounts }}
{{ except NameError: }}
{{   show_total_without_discounts = False }}
{{ pass }}


{{ user_is_employee = auth.has_membership('Employee') }}
{{ # employess only, bag selector and add bag button }}
{{ if user_is_employee and not bag_only_items_list: }}
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="{{=URL('sale', 'scan_order_ticket')}}" class="btn btn-default btn-block bag-scan-btn">{{=T('Scan order')}}</a>
    </div>
    <div class="btn-group" role="group">
      <a href="{{=URL('sale', 'scan_for_update')}}" class="btn btn-default btn-block bag-scan-btn">{{=T('Scan sale')}}</a>
    </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button class="btn btn-primary btn-block" id="add_bag_btn">{{=T('Add Bag')}}</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" onclick="BAG.show_active();"><span>{{=T('Bags')}}</span> {{=ICON('arrow_drop_down')}}</button>
    </div>
  </div>
  <br>
  <!-- Active bags -->
  <div class="list-group" id="active_bags" hidden="hidden">
    {{for bag in db( (db.bag.created_by == auth.user.id) & (db.bag.id_store == session.store) & (db.bag.status == BAG_ACTIVE)).select():}}
      <a href="#" class="list-group-item" onclick="BAG.load_bag({{=bag.id}});" id="bag_selector_{{=bag.id}}">
        {{=T('Bag')}} {{=bag.id}}
      </a>
    {{pass}}
  </div>

{{ pass }}


<!-- Bag -->
<div class="panel panel-default card-shadow" id="current_bag">
  <div class="panel-heading">
    <h3>{{=T('Bag')}} {{ if user_is_employee: }}<span id="bag_id"></span> {{ pass }} (<span class="bag_quantity"></span> {{=T('items')}})
      {{=ICON('expand_less', _class="right collapse_bag")}}
    </h3>
  </div>
  <div class="panel-body bag-items-panel">

    {{ # barcode is only available for employees }}
    {{ if user_is_employee: }}
      <div id='barcode_scanner_container' style="padding-left: 15px; padding-right: 15px;">
      </div>
    {{ pass }}

    <!-- list of items in bag -->
    <div class="list-group" id="bag_items_list"> </div>
  </div>

  <div class="panel-footer">
    {{ if user_is_employee: }}
      <p> <span>{{=T('Subtotal')}}</span> <span class="right">$ <span class="subtotal">00</span></span> </p>
      <p> <span>{{=T('Taxes')}}</span> <span class="right">$ <span class="taxes">00</span></span> </p>
    {{ pass }}
    <p> <span>{{=T('Total')}}</span> <span class="right">$ <span class="total">00</span></span> </p>
    {{ if show_total_without_discounts: }}
    <p> <span>{{=T('Total without discounts')}}</span> <span class="right">$ <span class="no-discount-total">00</span></span> </p>
    {{ pass }}

    {{ if not bag_only_items_list: }}
    <div id="bag_buttons">
      <hr>
      <a class="btn btn-primary btn-block sell_bag" href="{{=URL('bag', 'complete')}}">
        {{=T('Complete')}}
      </a>
      {{if auth.has_membership('Stock transfers'):}}
        <button class="btn btn-default btn-block transfer_bag" onclick="BAG.transfer();">
          {{=T('Stock transfer')}}
        </button>
      {{pass}}
      {{if auth.has_membership('Product loss'):}}
        <a class="btn btn-default btn-block" href="{{=URL('product_loss', 'create', args=session.current_bag)}}">
          {{=T('Product loss')}}
        </a>
      {{pass}}
      {{ if user_is_employee: }}
        <button class="btn btn-default btn-block discard_bag" onclick="BAG.discard();">
          {{=T('Discard')}}
        </button>
      {{ pass }}
    </div>
    {{ pass }}

  </div>
</div>

{{ if not user_is_employee: }}
  <p>{{=T('All prices includes taxes')}}</p>
  <p>* {{=T('Discounts only applicable when paid online')}}</p>
{{ pass }}


<div id="proto_bag_item" class="list-group-item" hidden="hidden">
  <div>
    <h4><span class="item_name"></span> <span class="text-danger"><span class="discount"></span>% {{=T('OFF')}}*</span>
      {{=ICON("close", _class="right close")}}
    </h4>
    <p><span class="item_stock"></span></p>
    <p><span class="item_price base_price"></span></p>
    {{ # multiprice only available for employees }}
    {{ if user_is_employee: }}
      <p>
        <div class="btn-group btn-group-justified extra_prices" role="group" aria-label="...">
          <a type="button" class="btn btn-default item_price"></a>
          <a type="button" class="btn btn-default price2"></a>
          <a type="button" class="btn btn-default price3"></a>
        </div>
      </p>
    {{ pass }}
    <div class="input-group">
      <div class="input-group-addon">{{=T('Quantity')}}</div>
      <input type="number" class="form-control item_qty">
      <div class="input-group-addon munit"></div>
    </div>

    {{ users = db(
         (db.auth_user.is_client == False) &
         (db.auth_user.registration_key == '')
       ).select()
    }}
    {{ if users: }}
      <div class="employee-selector input-group">
        <div class="input-group-addon">{{=T('Performed by')}}</div>
        <select name="performed_by" class="performed_by form-control">

          <option value=""> </option>
          {{ for user in users: }}

            <option value="{{=user.id}}">
              {{=user.first_name}}
              {{=user.last_name}}
            </option>
          {{ pass }}

        </select>
      </div>
    {{ pass }}
  </div>
</div>


<!-- modal contens, placed via JS -->
{{ if user_is_employee: }}
  <div id="access_code_modal_body">
    <input type="password" id="access_code" class="form-control">
  </div>
  <div id="access_code_modal_footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{=T("Close")}}</button>
    <button type="button" class="btn btn-primary submit">
      {{=T('Authenticate')}}
    </button>
  </div>
{{ pass }}


<script type="text/javascript">
  var BAG = null;


  $(document).ready(function () {


    BAG = (function () {
      var M = {}

      var price_index = null;
      var bag_item_id = null;
      var target = null;

      $('#proto_bag_item').hide();

      $('.panel').find('.collapse_bag').on('click', function(event) {
        var el_bag_panel_body = $('#current_bag .panel-body');
        if (el_bag_panel_body.css('display') == 'none') {
          $(event.target).text('expand_less');
        } else { $(event.target).text('expand_more'); }
        el_bag_panel_body.toggle();
      });


      function set_bag_data(data) {
        $('#current_bag .subtotal').text(parseFloat(data.subtotal).toFixed(2));
        $('#current_bag .taxes').text(parseFloat(data.taxes).toFixed(2));
        var total = parseFloat(data.total).toFixed(2);
        var total_no_discounts = parseFloat(data.real_total).toFixed(2);

        $('#current_bag .total').text(total);
        if (total != total_no_discounts) {
          $('#current_bag .no-discount-total').text(total_no_discounts);
        } else {
          $('#current_bag .no-discount-total').parent().parent().remove();
        }

        $('#current_bag .bag_quantity').text(data.quantity);
      }


      function load_bag(bag_id) {
        // retrieve bag items
        $.ajax({
          url: "{{=load_bag_url}}/" + bag_id
        })
        .done(function (data) {
          var bag = data.bag
          $('#bag_items_list').children().remove();
          $('#bag_id').text(bag.id);

          if (bag.status != {{=BAG_ACTIVE}} ) {
            document.querySelector('#proto_bag_item input').setAttribute('disabled', 'disabled')
            $('#proto_bag_item .close').remove();
          }

          for (var bag_item_id in data.bag_items) {
            var bag_item = data.bag_items[bag_item_id]
            $('#bag_items_list').prepend(clone_proto_item(bag_item, bag_item.barcode));
          }

          set_bag_data(data);

          $('#active_bags').hide();
          $('#current_bag').show();
        })
        .fail(function (data) {
          console.log(data);
          console.log('Could not load the bag');
        });
      }
      M.load_bag = load_bag;


      function base_add_bag_item(bag_item, res) {
        if (res.status) {
          alert(res.status);
          return;
        }
        var item = $('#bag_items_list').find('#bag_item_' + bag_item.id)[0];
        if (item) $(item).find('.item_qty').val(bag_item.quantity);
        else {
          $('#bag_items_list').prepend(
            clone_proto_item(bag_item, bag_item.barcode)
          );
        }
        set_bag_data(res);
        info_card("{{=T('Added item to bag')}}");
        show_container('bag_container');
      }


      function lock_bag() {
        $('#current_bag input').each(function (index) {
          this.setAttribute('disabled', 'disabled');
        });
        $('#current_bag .close').each(function (index) {
          $(this).hide();
        });
      }
      M.lock_bag = lock_bag;


      function unlock_bag() {
        $('#current_bag input').each(function (index) {
          this.removeAttribute('disabled');
        });
        $('#current_bag .close').each(function (index) {
          $(this).show();
        });
      }
      M.unlock_bag = unlock_bag;


      function hard_lock_bag() {
        lock_bag();
        $('#bag_buttons .btn').each(function (index) {
          this.setAttribute('disabled', 'disabled');
        });
      }

      function hard_unlock_bag() {
        unlock_bag();
        $('#bag_buttons .btn').each(function (index) {
          this.removeAttribute('disabled');
        });
      }


      function clone_proto_item(data, barcode) {
        var new_item = $('#proto_bag_item').clone().show();
        var new_item_id = 'bag_item_' + data.id;
        new_item.attr('id', new_item_id);
        new_item.attr('barcode', barcode);
        new_item.attr('itemid', data.id_item);
        new_item.find('.item_name').text(data.product_name);
        new_item_stock = new_item.find('.item_stock');
        if (!data.has_inventory) {
          new_item_stock.text("{{=T('Available')}}");
          new_item_stock.addClass('text-success');
        }
        else {
          if (data.stock <= 0) {
            new_item_stock.text("{{=T('Out of stock')}}");
            new_item_stock.addClass('text-danger');
          }
          else {
            new_item_stock.text('{{=T("only")}} ' + data.stock + ' {{=T("left")}}');
          }
        }

        {{ if not user_is_employee: }}
          new_item.find('.item_price').text(data.total_sale_price);
        {{ else: }}
          new_item.find('.item_price').text(data.base_price);

          if (data.price2 || data.price3) {
            new_item.find('.base_price').parent().remove();
            var base_price_btn = new_item.find('.item_price');
            var price2_btn = new_item.find('.price2');
            var price3_btn = new_item.find('.price3');

            if (data.sale_price == data.price2) price2_btn.addClass('btn-primary');
            else if (data.sale_price == data.price3) price3_btn.addClass('btn-primary');
            else base_price_btn.addClass('btn-primary');

            base_price_btn.click(function(event) {
              set_sale_price(1, data.id, event.target);
            });

            if (data.price2) {
              price2_btn.text(data.price2);
              price2_btn.click(function(event) {
                set_sale_price(2, data.id, event.target);
              });
            }
            else { price2_btn.remove(); }
            if (data.price3) {
              price3_btn.text(data.price3);
              price3_btn.click(function(event) {
                set_sale_price(3, data.id, event.target);
              });
            }
            else { price3_btn.remove(); }
          }
          else { new_item.find('.extra_prices').remove(); }
        {{ pass }}

        if (data.discount_percentage == 0)
          new_item.find('.discount').parent().remove();
        else
          new_item.find('.discount').text(data.discount_percentage);

        new_item.find('.item_qty').val(data.quantity);
        new_item.find('.munit').text(data.measure_unit);

        var el_emp_selector = new_item.find('.employee-selector');
        if (data.has_inventory) {

          el_emp_selector.remove();
        } else {

          if (data.performed_by) {
            el_emp_selector.find(
              'option[value='+data.performed_by+']'
            ).attr('selected', 'selected');
          }

          el_emp_selector.change(function (event) {
            $.ajax({
              url: "{{=URL('bag', 'set_bag_service_performer', extension='json')}}/" + data.id + '/' + event.target.value
            })
            .done(function(res) {
              info_card("{{=T('Saved')}}", null, 'success');
            })
          });

        }

        new_item.find('.close').click(function(event) {
          $.ajax({
            url: "{{=URL('bag', 'delete_bag_item', extension='json')}}/" + data.id
          })
          .done(function(res) {
            $('#' + new_item_id).remove();
            set_bag_data(res)
          })
        })

        var qty_input = new_item.find('.item_qty');
        qty_input.data('old_value', qty_input.val());

        qty_input.bind(
          'change propertychange paste click mouseleave', function (event)
        {

          var old_qty = qty_input.data('old_value');
          if (old_qty == $(this).val()) return;

          $(this).data('old_value', $(this).val());

          hard_lock_bag();

          $.ajax({
            url: "{{=URL('bag', 'modify_bag_item', extension='json')}}/" + data.id + '?quantity=' + $(this).val()
          })
          .done(function (data) {
            new_item.find('.item_qty').val(data.bag_item.quantity);
            set_bag_data(data);
            hard_unlock_bag();
          })
        });

        return new_item;
      }


      function add_bag_item(item_id) {
        $.ajax({
          url: "{{=URL('bag', 'add_bag_item', extension='json')}}/" + item_id
        })
        .done(function (res) {
          bag_item = res.bag_item;
          base_add_bag_item(bag_item, res);
        })
        .fail(function (res) {
          console.log(res);
        })
      }
      M.add_bag_item = add_bag_item;




      {{ # employee functions }}
      {{ if user_is_employee: }}
        function validate_access_code() {
          $.ajax({
            url: "{{=URL('bag', 'change_bag_item_sale_price', extension='json')}}/" + price_index + '/' + bag_item_id + '/' + $('#access_code').val()
          })
          .done(function (data) {
            $('#modal').modal('hide');
            $(target).parent().find('.btn-primary').removeClass('btn-primary');
            $(target).addClass('btn-primary');

            set_bag_data(data)

            $('#common_modal').modal('hide');
            $('#access_code').val('');
          })
          .fail(function (data) {
            $('#common_modal').modal('hide');
            alert('{{=T("Invalid access")}}');
          });
        }
        M.validate_access_code = validate_access_code;


        // scanner functions
        function requirement(barcode) { return true; }
        function success_callback(data, barcode) {
          $.ajax({
            url: "{{=URL('bag', 'add_bag_item', extension='json')}}/" + data.id
          })
          .done(function (res) {
            if (res.status == "out of stock") {
              alert('{{=T("Out of stock!!!")}}');
            }
            else {
              bag_item = res.bag_item;
              base_add_bag_item(bag_item, res);
            }
          })
        }
        function fail_callback(data, barcode) { }

        var container = $('#barcode_scanner_container');
        var scanner = BarcodeScanner('bag_scanner', container);
        scanner.setup(success_callback, fail_callback, requirement, null);


        function set_sale_price(_price_index, _bag_item_id, _target) {
          price_index = _price_index;
          bag_item_id = _bag_item_id;
          target = _target;

          {{if auth.has_membership('Admin') or auth.has_membership('Manager'):}}
            validate_access_code();
          {{else:}}
            $('#common_modal').modal();
          {{pass}}
        }


        function add_bag() {
          $.ajax({
            url: "{{=URL('bag', 'create', extension='json')}}"
          })
          .done(function (data) {
            load_bag(data.bag.id);

            // add the new bag to the active bags list
            var bag_selector = document.createElement('a');
            bag_selector.id = 'bag_selector_' + data.bag.id;
            bag_selector.innerHTML = '{{=T("Bag")}} ' + data.bag.id;
            bag_selector.href = '#';
            bag_selector.className = 'list-group-item';
            $('#active_bags').append(bag_selector);
            $('#bag_selector_' + data.bag.id).click(function(event) {
              load_bag(data.bag.id);
            });
          })
        }
        M.add_bag = add_bag;


        function show_active_bags() {
          $('#active_bags').toggle();
        }
        M.show_active = show_active_bags;


        function discard_bag() {
          $.ajax({
            url: "{{=URL('bag', 'discard_bag', extension='json')}}"
          })
          .done(function (res) {
            var removed = res.removed;
            $('#bag_selector_' + removed).remove();
            if (res.other_bag) load_bag(res.other_bag.id);
            else add_bag();
            return false;
          });
        }
        M.discard = discard_bag;


        function transfer_bag() {
          var r = confirm("{{=T('Confirm stock transfer?')}}");
          if (r == true) window.location.href = "{{=URL('bag', 'stock_transfer')}}";
        }
        M.transfer = transfer_bag;

      {{ pass   # end employee section }}



      return M;
    }());


    $('#common_modal').find('.submit').click(function (event) {
      BAG.validate_access_code();
    });

    $('#add_bag_btn').on('click', function(event) {
      BAG.add_bag();
    });


    {{ if user_is_employee: }}
      set_modal(
        "{{=T('Manager access')}}",
        $('#access_code_modal_body').detach(),
        $('#access_code_modal_footer').detach());
    {{ pass }}

    BAG.load_bag({{=session.current_bag}});

  });

  function add_bag_item(item_id) {
    console.log('Add item');
    BAG.add_bag_item(item_id);
  }

</script>
