<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{=URL('static', 'css/ctrlpyme_print.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'css/ticket.css')}}">
    <script src="{{=URL('static', 'js/jquery.js')}}" charset="utf-8"></script>
  </head>

  <body>

    <div id="main_container">
      {{include}}
    </div>
  </body>


  <script type="text/javascript">
    {{ if request.vars._print: }}
     window.print();
     // window.print();
     // $('body').keyup(function (event) {
     //   if (event.charCode == 0) {
     //     window.close();
     //   }
     // });
     //
     // window.open("{{=URL('ticket', args=sale.id)}}", '1', resizable=1)
    {{ pass }}
  </script>
</html>
