<div class="cp-fab-container">
  <div id="core_button" class="btn-group btn-group-lg" role="group" aria-label="...">
    <button id="core_action" type="button" class="btn btn-primary" aria-label="">
      {{=ICON(core_action_icon)}}
    </button>
    {{if core_options:}}
      {{for core_option in core_options:}}
        <button type="button" class="btn btn-primary extra-option" onclick="window.location.href = '{{=core_option['url']}}';"
            data-toggle="tooltip" data-placement="top"
            title="{{=core_option['tooltip']}}">
          {{=ICON(core_option['icon'])}}
        </button>
      {{pass}}

      <button id="expand_core" type="button" class="btn btn-primary cp-multi-more" aria-label="">
        {{=ICON('more_vert')}}
      </button>
    {{pass}}
  </div>
</div>

<script>
  $('.extra-option').hide();

  $('#core_action').on('click', function(event) {
    window.location.href = '{{=core_action}}';
  });

  $('#expand_core').on('click', function(event) {
    $('.extra-option').toggle();
  });


  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
