<nav class="the-nav">

  <!-- main menu -->
  <section class="nav-left">
    <div class="menu-element primary-color-text" id="close_search" hidden="hidden">{{=ICON('close')}}</div>

    <div id="m_nav_filler" class="menu-element" state="hidden">
      <div class="menu-element hamburger">{{=ICON('menu')}}</div>
      <a href="{{=URL('default', 'index')}}" class="menu-element brand">{{=COMPANY_NAME}}</a>
    </div>

    <div class="menu-element primary-color-text hamburger" id="hamburger">{{=ICON('menu')}}</div>
    <a href="{{=URL('default', 'index')}}" class="menu-element brand">
      {{if COMPANY_LOGO_URL:}}
        <img src="{{=COMPANY_LOGO_URL}}" alt="">
      {{else:}}
        {{=COMPANY_NAME}}
      {{pass}}
    </a>
    <div id="main_menu_m" state="hidden">
      {{ for m_element in MENU_ELEMENTS('m', response.menu): }}
        {{ =m_element.menu }}
        {{ if m_element.submenu: }}
          {{ =m_element.submenu }}
        {{ pass }}
      {{pass}}
      {{ for m_element in MENU_ELEMENTS("m_auth", menu=response.auth_menu): }}
        {{ =m_element.menu }}
        {{ if m_element.submenu: }}
          {{ =m_element.submenu }}
        {{ pass }}
      {{pass}}
    </div>
    <div id="main_menu">
      {{ for m_element in MENU_ELEMENTS(menu=response.menu): }}
        {{ if m_element.submenu: }}
          {{ m_element.menu.insert(0, m_element.submenu) }}
        {{ pass }}
        {{ =m_element.menu }}
      {{pass}}
    </div>

  </section>


  <section class="nav-right">
    <!-- search bar -->
    <div class="menu-element" id="search_menu_element">{{include 'search_bar.html'}}</div>
    <div class="menu-element" id="search_menu_btn" hidden="hidden">{{=ICON('search')}}</div>

    {{ notifications_qty = len(notifications) }}
    {{ if notifications_qty == 0: }}
      {{ notifications_qty = '' }}
    {{ elif notifications_qty > 99: }}
      {{ notifications_qty = '99+' }}
    {{ pass }}
    {{if auth.user:}}
      <div class="menu-element" onclick="toggle_container('notifications_container');" id="notifications_btn">{{=ICON('notifications')}} <span class="badge" id="notifications_qty">{{=notifications_qty}}</span></div>
    {{pass}}

    <!-- bag icon -->
    {{if include_bag:}}
      <div class="menu-element" onclick="toggle_container('bag_container');" id="bag_btn">{{=ICON('shopping_basket')}}</div>
    {{pass}}

    <!-- help -->
    <!-- <div class="menu-element" id="help_menu_btn" onclick="show_help();">
      {{=ICON('help_outline')}}
    </div> -->

    <!-- auth -->

    <div id="auth_menu">
      {{ for m_element in MENU_ELEMENTS("auth", menu=response.auth_menu): }}
        {{ if m_element.submenu: }}
          {{ m_element.menu.insert(0, m_element.submenu) }}
        {{ pass }}
        {{ =m_element.menu }}
      {{pass}}
    </div>
  </section>

</nav>

<div id="nav_screen" ></div>


<script>
  // $('.submenu').hide();

  $('#nav_screen')[0].addEventListener('transitionend', function (event) {
    if (event.target.style.opacity == 0) {
      $('#nav_screen').css('visibility', 'hidden');
    }
  }, true);

  function show_nav_screen() {
    $('#nav_screen').css('opacity', '1');
    $('#nav_screen').css('visibility', 'visible');
  }
  function hide_nav_screen() {
    $('#nav_screen').css('opacity', '0');
  }

  function hide_main_menu() {
    hide_container('main_menu_m', true);
    hide_container('m_nav_filler', true);
    hide_nav_screen();
  }

  function close_search() {
    $('#bag_btn, #search_menu_btn, #hamburger, .brand').show();
    $('#hamburger, #search_menu_btn').removeClass('hidden');
    $('#close_search').css('display', 'none');
    $('.submenu').hide();
    $('#search_form').css('transform', 'translateY(-64px)');
    $('#search_form').css('width', '0px');
  }

  function toggle_main_menu() {
    if ($('#main_menu_m').attr('state') == 'hidden') {
      show_container('main_menu_m');
      show_container('m_nav_filler');
      show_nav_screen();
      // $('#nav_screen').show();
    } else {
      hide_main_menu();
    }
    close_search();
  }

  $('.hamburger').click(function (event) {
    toggle_main_menu();
  });

  $('#nav_screen, #bag_btn, #search_form').click(function (event) {
    $('.submenu').hide();
    hide_nav_screen();
  })

  function toggle_submenu(name) {
    $('.submenu').not('#submenu_' + name).hide();
    $('#submenu_' + name).toggle();
    if ($('#hamburger').css('display') == 'none' || $('#hamburger').css('display') == 'none !important' || name == 'auth') {
      if ($('#submenu_' + name).css('display') == 'block') {
        show_nav_screen();
      } else {
        hide_nav_screen();
      }
    }
  }


  $('#close_search').click(function (event) {
    close_search();
  });

  $('#search_menu_btn').click(function (event) {
    $('#bag_btn, #search_menu_btn, .brand').hide();
    $('#hamburger, #search_menu_btn').addClass('hidden');
    $('#close_search').css('display', 'flex');
    $('.submenu').hide();
    hide_nav_screen();
    hide_main_menu();
    $('#search_form').css('transform', 'translateY(0px)');
    $('#search_form').css('width', '100%');
  })
</script>
