<style>
  nav {
    /*background-color: #3672B6;
    background-color: #368DB6;*/
    color: white;
    position: fixed;
    top: 0px;
    height: 54px;
    min-height: 54px;
    line-height: 54px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;

    min-width: 300px;

    box-shadow: 0px 4px 4px rgba(0,0,0,.2);

    z-index: 100000;
  }

  nav > span {
    display: inline-block;
    height: 54px;
    min-height: 54px;
  }

  .main-menu {
    /*overflow-x: scroll;*/
  }

  #menu_options {
    overflow-y: scroll;
    max-width: 400px;
  }

  .menu-element {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    outline-style: none;
  }

  .menu-element a {
    outline-style: none;

    color: white;
    text-decoration: none;
    padding-right: 8px;
  }

  nav * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #hamburger {
    display: none;
  }

  .submenu {
    position: fixed;
    margin-top: -1px;
    display: block;
    height: 54px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 4px 4px rgba(0,0,0,.2);
  }

  .submenu-right {
    right: 0px;
  }


  .right-menu {
    display: flex;
  }

  .nav-logo {
    font-size: 18px;
  }

  #search_form {
    margin-bottom: 0px;
    margin-top: 9.5px;
  }


  #menu_options {
    display: inline;
    background-color: inherit;
    top: 0px;

    overflow-y: hidden;
  }

  @media screen and (max-height: 500px) {
    #menu_options {
      overflow-y: scroll;
    }
  }


  /* mobile */
  @media screen and (max-width: 1200px) {
    #menu_options {
      /*top: 54px;*/
      display: none;
      position: fixed;
      left: 0px;
      width: 320px;
      min-width: 320px;
      height: 100%;
      background-color: white;
      box-shadow: 4px 0px 4px rgba(0,0,0,.1);
      z-index: 10;
      padding-left: 8px;
    }

    #menu_options .menu-element {
      display: block;
    }

    #menu_options .menu-element a {
      color: {{=base_color_text}};
    }

    #menu_options .submenu {
      display: block;
      position: relative;
      height: auto;
      background-color: {{=base_color_bright}};
      box-shadow: none;
    }

    #hamburger, .hamburger {
      display: inline-block;
    }

    #search_btn {
      display: inline;
    }

    .search-element {
      display: none;
      left: 0px;
      padding-right: 0px;
    }

    .auth-label {
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    .nav-logo, #right_menu_buttons {
      display: inline-block !important;
    }

    #menu_options  {
      display:inline !important;
    }

    .extra-logo {
      display: none;
    }

    #search_btn {
      display: none;
    }

    .search-element {
      display: inline !important;
    }

    #close_search {
      display: none;
    }

    #hamburger, .hamburger {
      display: none !important;
    }

    #close_search {
      display: none !important;
    }
  }
</style>

<nav>
  <span class="main-menu">
    <i class="fa fa-times" id="close_search"></i>
    <i id="hamburger" class="fa fa-bars"></i>
    <span class="menu-element nav-logo">
      {{=response.logo}}
    </span>

    <span id="menu_options">
      <div class="menu-element extra-logo">
        <i class="fa fa-bars hamburger base-color-text"></i>
        <span class="nav-logo" style="margin-left: 8px;">
          {{=response.logo}}
        </span>
      </div>
      {{if response.menu:}}
        {{i = 0}}
        {{for menu in response.menu:}}
          <span class="menu-element" id="menu_{{=i}}">
            {{menu_link = menu[2] if len(menu) > 2 and menu[2] else "#"}}
            <a href="{{=menu_link}}" onclick="toggle_submenu({{=i}});">
              {{=menu[0]}}
              {{if len(menu) > 3 and menu[3]:}}
                <i class="fa fa-angle-right"></i>
              {{pass}}
            </a>
            {{if len(menu) > 3 and menu[3]:}}
              <span class="submenu primary-color-dim" id="submenu_{{=i}}">
                {{for submenu in menu[3]:}}
                  <span class="menu-element">
                    <a href="{{=submenu[2]}}"> {{=submenu[0]}}</a>
                  </span>
                {{pass}}
              </span>
            {{pass}}
          </span>
          {{ i += 1}}
        {{pass}}
      {{pass}}
    </span>

  </span>

  <span class="right-menu right">
    <span class="menu-element search-element">
      {{include "search_bar.html"}}
    </span>
    <span id="right_menu_buttons">
      <span class="menu-element" id="search_btn">
        <i class="fa fa-search"></i>
      </span>
      <span class="menu-element" onclick="$('#bag_container').toggle();" id="bag_btn"><i class="fa fa-shopping-cart"></i></span>
      <!-- auth menu -->
      <span class="menu-element" id="auth_menu" onclick="toggle_submenu('auth');">
        <i class="fa fa-user"></i> <span class="auth-label">{{=auth.user.first_name if auth.is_logged_in() else ""}}</span>
        <i class="fa fa-angle-right"></i>

        <span class="submenu submenu-right primary-color-dim" id="submenu_auth">
          <span class="menu-element">
            {{if auth.is_logged_in():}}
              <a href="{{=URL('user', 'profile')}}"> {{=T("Profile")}} </a>
              <a href="{{=URL('default', 'user/logout')}}"> {{=T("Logout")}} </a>
            {{else:}}
              <a href="{{=URL('default', 'user/retrieve_password')}}"> {{=T("Lost password")}} </a>
              <a href="{{=URL('default', 'user/login')}}"> {{=T("Login")}} </a>
            {{pass}}
          </span>
        </span>
      </span>
    </span>

  </span>
</nav>


<script>
  // $('#menu_options').hide();

  $('#hamburger,.hamburger').click(function (event) {
    $('#menu_options').toggle();
  });

  $('.submenu').hide();
  $('#close_search').hide();

  $('#search_btn, #close_search').click(function (event) {
    $('#hamburger').hide();
    $('.nav-logo').hide();
    $('#menu_options').hide();
    $('#right_menu_buttons').hide();
    $('.search-element').show();
    $('#close_search').show();
  });

  $('#close_search').click(function (event) {
    $('#hamburger').show();
    $('.nav-logo').show();
    $('.menu-element').show();
    $('#right_menu_buttons').show();
    $('#close_search').hide();
    $('.search-element').hide();
  })

  function toggle_submenu(index) {
    var display = $('#submenu_' + index).css('display');
    $('.submenu').hide();
    if (display == 'none') {
      $('#submenu_' + index).show();
      // $('#menu_' + index).css('background-color', $('#submenu_' + index).css('background-color'));
    }
    else {
      $('#submenu_' + index).hide();
    }
  }
</script>
