<nav class="the-nav">

  <!-- main menu -->
  <section class="nav-left">
    <div class="menu-element primary-color-text" id="close_search" hidden="hidden">{{=ICON('close')}}</div>

    <div id="m_nav_filler" class="menu-element" state="hidden">
      <div class="menu-element hamburger">{{=ICON('close')}}</div>
      <a href="{{=URL('default', 'index')}}" class="menu-element brand">{{=COMPANY_NAME}}</a>
    </div>

    <div class="menu-element primary-color-text hamburger" id="hamburger">{{=ICON('menu')}}</div>
    <a href="{{=URL('default', 'index')}}" class="menu-element brand">
      {{if COMPANY_LOGO_URL:}}
        <img src="{{=COMPANY_LOGO_URL}}" alt="">
      {{else:}}
        {{=COMPANY_NAME}}
      {{pass}}
    </a>
    <!-- mobile main menu -->
    <div id="main_menu_m" state="hidden" class="shadow-2">
      {{ for m_element in MENU_ELEMENTS('m', response.menu): }}
        {{ =m_element.menu }}
        {{ if m_element.submenu: }}
          {{ =m_element.submenu }}
        {{ pass }}
      {{pass}}
      {{ for m_element in MENU_ELEMENTS("m_auth", menu=response.auth_menu): }}
        {{ =m_element.menu }}
        {{ if m_element.submenu: }}
          {{ =m_element.submenu }}
        {{ pass }}
      {{pass}}
    </div>
    <div id="main_menu">
      {{ for m_element in MENU_ELEMENTS(menu=response.menu): }}
        {{ if m_element.submenu: }}
          {{ m_element.menu.insert(0, m_element.submenu) }}
        {{ pass }}
        {{ =m_element.menu }}
      {{pass}}
    </div>
  </section>


  <section class="nav-right">
    <!-- search bar -->
    <div class="menu-element" id="search_menu_element">{{include 'search_bar.html'}}</div>
    <div class="menu-element" id="search_menu_btn" hidden="hidden">{{=ICON('search')}}</div>

    {{ notifications_qty = len(notifications) }}
    {{ if notifications_qty == 0: }}
      {{ notifications_qty = '' }}
    {{ elif notifications_qty > 99: }}
      {{ notifications_qty = '99+' }}
    {{ pass }}
    {{if auth.user:}}
      <div class="menu-element" onclick="toggle_container('notifications_container');" id="notifications_btn">{{=ICON('notifications')}} <span class="badge" id="notifications_qty">{{=notifications_qty}}</span></div>
    {{pass}}

    <!-- bag icon -->
    {{if include_bag:}}
      <div class="menu-element" onclick="toggle_container('bag_container');" id="bag_btn">{{=ICON('shopping_basket')}}</div>
    {{pass}}

    <!-- help -->
    <!-- <div class="menu-element" id="help_menu_btn" onclick="show_help();">
      {{=ICON('help_outline')}}
    </div> -->

    <!-- auth -->

    <div id="auth_menu">
      {{ for m_element in MENU_ELEMENTS("auth", menu=response.auth_menu): }}
        {{ if m_element.submenu: }}
          {{ m_element.menu.insert(0, m_element.submenu) }}
        {{ pass }}
        {{ =m_element.menu }}
      {{pass}}
    </div>
  </section>
</nav>

<div id="nav_screen" ></div>
