<link rel="stylesheet" href="{{=URL('static', 'css/navbar.css')}}">

<nav>

  <!-- main menu -->
  <section class="nav-left">
    <div class="menu-element primary-color-text" id="close_search" hidden="hidden">{{=ICON('times')}}</div>
    <div class="menu-element primary-color-text" id="hamburger">{{=ICON('bars')}}</div>
    <div class="menu-element brand primary-color-text"> {{=response.logo}} </div>
    <div id="main_menu" state="hidden">
      {{ i = 0 }}
      {{for menu_item in response.menu:}}
        {{ menu_item_name = menu_item[0] }}
        {{ url = '' }}
        {{ submenu = [] }}
        {{ try: }}
          {{ url = menu_item[2] }}
          {{ submenu = menu_item[3] }}
        {{ except: }}
          {{None}}
        {{ pass }}

          {{ if url: }}
            <div class="menu-element">
              <a href="{{=url}}"> {{ =menu_item_name }} </a>
            </div>
          {{ else: }}
            <div class="menu-element" onclick="toggle_submenu('{{=i}}');">
              {{ if submenu: }}
                <div class="submenu primary-color-dim" id="submenu_{{=i}}" hidden="hidden">
                  {{ i += 1 }}
                  {{ for submenu_item in submenu: }}
                    {{ submenu_item_name = submenu_item[0] }}
                    {{ suburl = '#' }}
                    {{ try: }}
                      {{ suburl = submenu_item[2] }}
                    {{ except: }}
                      {{ None }}
                    {{ pass }}
                    <div class="menu-element">
                      <a href="{{=suburl}}"> {{ =submenu_item_name }} </a>
                    </div>
                  {{ pass }}
                </div>
              {{ pass }}

              <div class="menu-text">{{ =menu_item_name }} {{=ICON('caret-down', _class="add-on")}}</div>
            </div>

          {{ pass }}
      {{pass}}
    </div>

  </section>


  <section class="nav-right">
    <!-- search bar -->
    <div class="menu-element" id="search_menu_element">{{include 'search_bar.html'}}</div>
    <div class="menu-element" id="search_menu_btn" hidden="hidden">{{=ICON('search')}}</div>

    {{ notifications_qty = len(notifications) }}
    {{if notifications:}}
      {{ if notifications_qty == 0: }}
        {{ notifications_qty = '' }}
      {{ elif notifications_qty > 99: }}
        {{ notifications_qty = '99+' }}
      {{ pass }}
      <div class="menu-element" onclick="toggle_container('notifications_container');" id="notifications_btn">{{=ICON('bell')}} <span class="badge" id="notifications_qty">{{=notifications_qty}}</span></div>
    {{pass}}

    <!-- bag icon -->
    {{if include_bag:}}
      <div class="menu-element" onclick="toggle_container('bag_container');" id="bag_btn">{{=ICON('shopping-bag')}}</div>
    {{pass}}

    <!-- auth -->
    <div class="menu-element" id="auth_menu" onclick="toggle_submenu('auth');">
      <div class="submenu primary-color-dim" id="submenu_auth" hidden="hidden">
        {{ if auth.is_logged_in(): }}
          <div class="menu-element">
            <a href="{{=URL('user', 'profile')}}"> {{=T("Profile")}} </a>
          </div>
          <div class="menu-element">
            <a href="{{=URL('default', 'user/logout')}}"> {{=T("Logout")}} </a>
          </div>
        {{ else: }}
          <div class="menu-element">
            <a href="{{=URL('default', 'user/retrieve_password')}}"> {{=T("Lost password")}} </a>
          </div>
          <div class="menu-element">
            <a href="{{=URL('default', 'user/login', vars=dict(_next=current_url() ))}}"> {{=T("Login")}} </a>
          </div>
        {{ pass }}
      </div>
      <span class="auth-label">{{=auth.user.first_name if auth.is_logged_in() else T("Guest")}}</span> {{=ICON('caret-down', _class="add-on")}}
    </div>
    <div class="menu-element" id="help_menu_btn" onclick="show_help();">
      {{=ICON('question-circle')}}
    </div>
  </section>

</nav>

<div id="nav_screen" ></div>


<script>
  $('.submenu').hide();

  $('#nav_screen')[0].addEventListener('transitionend', function (event) {
    if (event.target.style.opacity == 0) {
      $('#nav_screen').css('visibility', 'hidden');
    }
  }, true);

  function show_nav_screen() {
    $('#nav_screen').css('opacity', '1');
    $('#nav_screen').css('visibility', 'visible');
  }
  function hide_nav_screen() {
    $('#nav_screen').css('opacity', '0');
  }

  function hide_main_menu() {
    hide_container('main_menu', true);
    $('#hamburger, .brand').removeClass('base-color-text');
    $('#hamburger, .brand').addClass('primary-color-text');
    hide_nav_screen();
  }

  function close_search() {
    $('#bag_btn, #auth_menu, #search_menu_btn, #hamburger, .brand').show();
    $('#hamburger, #search_menu_btn').removeClass('hidden');
    $('#close_search').css('display', 'none');
    $('.submenu').hide();
    $('#search_form').css('transform', 'translateY(-64px)');
    $('#search_form').css('width', '0px');
  }

  function toggle_main_menu() {
    if ($('#main_menu').attr('state') == 'hidden') {
      show_container('main_menu');
      $('#hamburger, .brand').addClass('base-color-text');
      $('#hamburger, .brand').removeClass('primary-color-text');
      show_nav_screen();
      // $('#nav_screen').show();
    }
    else {
      hide_container('main_menu', true);
      // $('#nav_screen').hide();
      hide_nav_screen();
      $('#hamburger, .brand').removeClass('base-color-text');
      $('#hamburger, .brand').addClass('primary-color-text');
    }
    close_search();
  }

  $('#hamburger').click(function (event) {
    toggle_main_menu();
  });

  $('#nav_screen, #bag_btn, #search_form').click(function (event) {
    $('.submenu').hide();
    hide_nav_screen();
  })

  function toggle_submenu(name) {
    $('.submenu').not('#submenu_' + name).hide();
    $('#submenu_' + name).toggle();
    if ($('#hamburger').css('display') == 'none' || $('#hamburger').css('display') == 'none !important' || name == 'auth') {
      if ($('#submenu_' + name).css('display') == 'block') {
        show_nav_screen();
      } else {
        hide_nav_screen();
      }
    }
  }


  $('#close_search').click(function (event) {
    close_search();
  });

  $('#search_menu_btn').click(function (event) {
    $('#bag_btn, #auth_menu, #search_menu_btn, .brand').hide();
    $('#hamburger, #search_menu_btn').addClass('hidden');
    $('#close_search').css('display', 'flex');
    $('.submenu').hide();
    hide_nav_screen();
    hide_main_menu();
    $('#search_form').css('transform', 'translateY(0px)');
    $('#search_form').css('width', '100%');
  })
</script>
