<form class="" role="search" id="search_form">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" id="search">
      <div class="input-group-addon search-icon primary-color-dim" style="font-size: 18px;">
        {{=ICON('search')}}
      </div>
    </div>
  </div>
</form>

<script>
  $('#search_form').submit(function (event) {
    event.preventDefault();
    var search_term = $(event.target).find('#search').val();
    console.log(search_term);

    window.location.href = "{{=URL('search', 'search_item')}}/" + search_term;

    return false;
  });
</script>
