{{
  primary_color = PRIMARY_COLOR
  primary_color_dim = dim_hex(PRIMARY_COLOR);
  primary_color_bright = bright_hex(PRIMARY_COLOR);
  primary_color_text = PRIMARY_COLOR_TEXT

  accent_color = ACCENT_COLOR
  accent_color_dim = dim_hex(ACCENT_COLOR)
  accent_color_text = ACCENT_COLOR_TEXT

  base_color = BASE_COLOR
  base_color_text = BASE_COLOR_TEXT
  base_color_dim = dim_hex(BASE_COLOR)
  base_color_bright = bright_hex(BASE_COLOR)
}}

<style>
  body {
    background-color: {{=base_color}};
    color: {{=base_color_text}};
  }

  /*.panel-default > .panel-heading {
    background-color: {{=base_color_dim}};
  }*/

  nav {
    background-color: {{=primary_color}};
  }

  a {
    color: {{=primary_color_bright}};
  }

  .btn-primary {
    background-color: {{=accent_color}};
    color: {{=accent_color_text}};
    border-color: {{=accent_color_dim}};
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: {{=accent_color_dim}};
    color: {{=accent_color_text}};
    border-color: {{=accent_color_dim}};
  }

  .btn-group .btn-primary {
    background-color: {{=primary_color}};
    color: {{=primary_color_text}};
    border-color: {{=primary_color_dim}};
  }

  .btn-primary[disabled="disabled"] {
    background-color: {{=accent_color}};
    color: {{=accent_color_text}};
    border-color: {{=accent_color_dim}};
    opacity: .5;
  }

  #core_button .btn-primary {
    background-color: {{=accent_color}};
    color: {{=accent_color_text}};
    border-color: {{=accent_color_dim}};
  }

  #core_button .btn-primary:hover, #core_button .btn-primary:focus, #core_button .btn-primary:active {
    background-color: {{=accent_color_dim}};
    color: {{=accent_color_text}};
    border-color: {{=accent_color_dim}};
  }

  .list-group-item {
    background-color: {{=base_color_bright}} !important;
  }

  .list-group-item:hover:not(.node-disabled) {
    background-color: {{=base_color_dim}} !important;
  }

  /* treeview node */
  .node-selected {
    background-color: {{=primary_color}} !important;
  }

  .node-selected:hover:not(.node-disabled) {
    background-color: {{=primary_color_dim}} !important;
  }


  /* table */
  .table-hover > tbody > tr:hover {
    background-color: {{=base_color_dim}};
  }


  .primary-color {
    background-color: {{=primary_color}};
    color: {{=primary_color_text}};
  }

  .primary-color-dim {
    background-color: {{=primary_color_dim}};
    color: {{=primary_color_text}};
  }

  .base-color-text {
    color: {{=base_color_text}};
  }


  .text-success {
    color: {{=color_mix(PRIMARY_COLOR, '#00FF00')}};
  }

  .text-danger {
    color: {{=color_mix(PRIMARY_COLOR, '#FF0000')}};
  }

  .label-success {
    color: {{=color_mix(PRIMARY_COLOR, '#00FF00')}};
    border-color: {{=color_mix(PRIMARY_COLOR, '#00FF00')}};
  }

  .label-danger {
    color: {{=color_mix(PRIMARY_COLOR, '#FF0000')}};
    border-color: {{=color_mix(PRIMARY_COLOR, '#FF0000')}};
  }

  .form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px {{=hex_to_css_rgba(primary_color, .6)}};
  }

  option:checked {
    background-color: {{=primary_color}} !important;
  }
</style>
