{{extend 'layout.html'}}
<h1>
  {{if category.parent:}}
  <a href="{{=URL('get', args=category.parent.id)}}">{{=category.parent.name}}</a> -
  {{else:}}
  <a href="{{=URL('index')}}">{{=T("Index")}}</a> -
  {{pass}}
   {{=category.name}} {{=T('Categories')}}</h1>


{{if data:}}
  {{delete_enabled = True}}
  {{include 'selection_menu.html'}}

  {{ =data }}
{{else:}}
  {{=T('No categories found')}}
  {{if request.user_agent().is_mobile:}} {{=T('touch')}} {{else:}} {{=T('click')}} {{pass}}
  {{=T('the plus button to create one.')}}
{{pass}}

{{fab_action = URL('create', vars={'parent': category.id})}}
{{include 'core_button.html'}}
