{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  <h1>{{=T('Employee')}} </h1>
  <h4>
    {{=employee.first_name}} {{=employee.last_name}} | {{=employee.email}}
  </h4>

  <h3>{{=T('Stores')}}</h3>
  <ul class="list-group">
    {{for store in stores:}}
      {{store_group = 'Store %s' % store.id}}
      <li class="list-group-item">
         <span class="right">
          <input type="checkbox" value="{{=store_group}}" {{if auth.has_membership(None, employee.id, store_group):}} checked {{pass}}>
        </span>
        {{=store.name}}
      </li>
    {{pass}}
  </ul>


{{end}}


<h2>{{=T('Permissions')}}</h2>

<div class="row">
  {{ col_class = 'col-md-%s' % (12 / len(permission_cards)) }}
  {{ for permission_card in permission_cards: }}
    <div class="{{=col_class}}">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{=permission_card['name']}}
          <span class="right"><input type="checkbox"></span>
        </h3></div>
        <div class="panel-body">
          <p>
            {{=permission_card['description']}}
          </p>

        </div>
      </div>
    </div>
  {{ pass }}
</div>



<script>
  $('input[type=checkbox]').click(function (event) {
    var group_name = event.target.value;

    url = "{{=URL('user', 'remove_employee_membership', args=employee.id, extension='json')}}/" + group_name

    if (event.target.checked) {
      url = "{{=URL('user', 'add_employee_membership', args=employee.id, extension='json')}}/" + group_name
    }

    info_card('Saving...');

    $.ajax({
      url: url
    })
    .done(function (res) {
      info_card('Saved', null, "success");
    })
    .fail(function (res) {
      info_card('Failed', null, "error");
    });
  });

</script>
