{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  <h1>{{=T('Employee')}} </h1>
  <h4>
    {{=employee.first_name}} {{=employee.last_name}} | {{=employee.email}}
  </h4>

  <h3>{{=T('Stores')}}</h3>
  <ul class="list-group">
    {{for store in stores:}}
      {{store_group = 'Store %s' % store.id}}
      <li class="list-group-item">
         <span class="right">
          <input type="checkbox" value="{{=store_group}}" {{if auth.has_membership(None, employee.id, store_group):}} checked {{pass}}>
        </span>
        {{=store.name}}
      </li>
    {{pass}}
  </ul>

  <a href="{{=URL('user', 'rand_employee_password', args=employee.id)}}" class="btn btn-default btn-block">{{=T('reset password')}}</a>


{{end}}


<h1>{{=T('Role')}}</h1>

<form action="">
  <div class="row">
    {{ col_class = 'col-md-%s' % min(4, (12 / len(permission_cards))) }}
    {{ i = -1 }}
    {{ for permission_card in permission_cards: }}
      {{ i += 1 }}
      <div class="{{=col_class}}">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>{{=permission_card.name()}}
            <span class="right">
              <input type="radio" name="access_card" value="{{=i}}" {{='checked' if i == employee.access_card_index else ''}}>
            </span>
          </h3></div>
          <div class="panel-body">
            <p>
              {{=permission_card.description()}}
            </p>

          </div>
        </div>
      </div>
    {{ pass }}
  </div>
</form>




<script>
  $('input[type=radio]').click(function (event) {
    var group_name = event.target.value;

    url = "{{=URL('user', 'set_access_card', args=employee.id, extension='json')}}/" + group_name

    info_card('{{=T("Saving")}}...');

    $.ajax({
      url: url
    })
    .done(function (res) {
      info_card('{{=T("Saved")}}', null, "success");
    })
    .fail(function (res) {
      info_card('{{=T("Failed")}}', null, "error");
    });
  });


  $('input[type=checkbox]').click(function (event) {
    var group_name = event.target.value;

    url = "{{=URL('user', 'remove_employee_membership', args=employee.id, extension='json')}}/" + group_name

    if (event.target.checked) {
      url = "{{=URL('user', 'add_employee_membership', args=employee.id, extension='json')}}/" + group_name
    }

    $.ajax({
      url: url
    })
    .done(function (res) {
      info_card('{{=T("Saved")}}', null, "success");
    })
    .fail(function (res) {
      info_card('{{=T("Failed")}}', null, "error");
    });
  });

</script>
