.cp-fab {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  margin: 12px auto;
}

button.cp-fab.btn.btn-default:active{
	outline: 0;
	outline-style:none;
	outline-width:0;
}

button.cp-fab:focus{
	outline:none;
	box-shadow: 0 0 0 2pt rgba(49,207,210,0.5);
}

.cp-fab-container {
  position: fixed;
  right: 0px;
  bottom: 72px;
  z-index: 20;
}

.cp-fab-list {
  background-color: white;
  position: fixed;
  right: 12px;
  bottom: 72px;

  z-index: 22;
  box-shadow: 0px 2px 8px rgba(0,0,0,.3);
  border-radius: 2px;
  height: auto;

  min-width: 150px;
  width: 150px;

  display: none;
}

.cp-fab-list .cp-fab-option {
  padding-top: 16px;
  padding-bottom:16px;
  padding-left: 16px;
  padding-right: 16px;
}

.cp-fab-list .cp-fab-option:hover {
  background-color: #F0F0F0;
}

.cp-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  /*z-index: 21;*/
}

#main_fab_list {

}


#core_button {
  /*width: 48px;*/
}

#core_button button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0px;
  /*box-shadow: 0px 2px 4px rgba(0,0,0,.5);*/
  height: 64px;
  width: 64px;
}

#core_button button:focus {
  outline: 0;
}



.extra-option {
}

#expand_core {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 38px;
  min-width: 38px;
}


.info-card {
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: 300px;
  z-index: 100;
  background-color: #2F2F2F;
  color: white;
  border-color: black;

  box-shadow: 0px 4px 4px rgba(0,0,0,.4);
}

.info-card .close {
  color: rgb(210,210,210);
  opacity: .4;
}

.info-card .info-btn {
  margin-top: 15px;
}



.items-container {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  position: relative;
  margin-right: 8px;
  flex: 0 0 auto;
  min-width: 260px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.item-card>.panel-heading {
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.item-card .description {
  margin-bottom: 30px;
  text-overflow: ellipsis;
}

.item-card .item-price {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 15px;
}


#thumbs {
  margin: auto;
}



/* Fix firefox ugly dropdown arrow */
select {
  /*-moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';*/
}


.main-container {
  padding-left: 0px;
  padding-right: 0px;
}



.table_id, .table-selector {
  width: 4%;
}

.table-options {
  width: 10%;
}


#search {
  /*background-color: rgba(0,0,0,.4);*/
  color: white;
}

#search_form .search-icon {
  background-color: rgba(0,0,0,.4);
  border: none;
  color: rgba(255,255,255,.7);

}
