/* overrides */
.footer > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}
body {
  padding-top: 60px;
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin-bottom: 30px;
}
.footer {
  background-color: inherit;
  bottom: 0;
  width: 100%;
}
.footer>.container-fluid {
  padding-left: 0px;
  padding-right: 0px;

  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
}
.center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.copyright {
    float: left;
}
#poweredBy {
    float: right;
}
*:focus {
    outline-style: none;
}
.modal-dialog {
  margin-top: 70px;
}
.pager>li {
  margin-left: 5px;
  margin-right: 5px;
}
.label {
  background-color: transparent;
  padding: .4em 0px 0px ;
  font-size: 12px;
}
.btn.btn-primary {
  font-weight: bold;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
@media(max-width: 767px) {
  .left-sidebar>.panel {
    margin-left: -15px;
    margin-right: -15px;
  }
}




/* Custom styles */
.print {
  display: none;
}

.cp-fab {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  margin: 12px auto;
}

button.cp-fab.btn.btn-default:active{
	outline: 0;
	outline-style:none;
	outline-width:0;
}

button.cp-fab:focus{
	outline:none;
	box-shadow: 0 0 0 2pt rgba(49,207,210,0.5);
}

.cp-fab-container {
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index: 20;
}

.cp-fab-list {
  background-color: white;
  position: fixed;
  right: 12px;
  bottom: 72px;

  z-index: 22;
  box-shadow: 0px 2px 8px rgba(0,0,0,.3);
  border-radius: 2px;
  height: auto;

  min-width: 150px;
  width: 150px;

  display: none;
}

.cp-fab-list .cp-fab-option {
  padding-top: 16px;
  padding-bottom:16px;
  padding-left: 16px;
  padding-right: 16px;
}

.cp-fab-list .cp-fab-option:hover {
  background-color: #F0F0F0;
}

.cp-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#core_button {
  box-shadow: 0px 2px 4px rgba(0,0,0,.5);
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#core_button button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0px;
  height: 64px;
  width: 64px;
  margin-left: -1px;
}

#core_button button:focus {
  outline: 0;
}

#expand_core {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 38px;
  min-width: 38px;
}


.info-card {
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: 300px;
  z-index: 100;
}

.info-card .close {
  color: rgb(210,210,210);
  opacity: .4;
}
.info-card .info-btn {
  margin-top: 15px;
}
#thumbs {
  margin: auto;
  margin-top: 10px;
}
.main-container {
  padding-left: 0px;
  padding-right: 0px;
}
.table_id, .table-selector {
  width: 4%;
}
.table-options {
  width: 10%;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
#common_modal {
  padding-right: 0px;
  z-index: 10000000;
}

.panel-heading, .panel-footer {
  border: none;
}


#scan_order_btn {
  margin-bottom: 10px;
}
#current_bag>.panel-body {
  padding-left: 0px;
  padding-right: 0px;
  transition: height .2s ease;
  overflow: hidden;
}
#current_bag>.panel-body>#barcode_scanner_container {
  margin-bottom: 30px;
}
#current_bag>.panel-body .list-group-item {
  border-radius: 0px;
  border: 1px solid #eee;
}
#current_bag>.panel-body .list-group-item:hover {
  background-color: transparent !important;
}
#current_bag>.panel-body .list-group-item:hover {
  background-color: white;
}
#current_bag>.panel-body .list-group-item:hover:not(.node-disabled) {
  background-color: white;
}

@keyframes bc_scanner_laser {
  0% { background-position: -20px; }
  100% { background-position: calc(100% + 20px); }
}
.scanner-input {
  background-image: url(../static/images/scanner.png);
  background-repeat: no-repeat;
  background-position: -20px;
  animation: bc_scanner_laser 1s infinite;
  animation-timing-function: cubic-bezier(0.7, 0, 0.74, 1);
  /*animation-direction: alternate-reverse;*/
}


#item_info>span {
  margin-left: 10px;
}



.floating-container {
  background-color: #F0F0F0;
  /*min-width: 300px;
  max-width: 500px;*/
  position: fixed;
  right: 0px;
  z-index: 1000;
  height: 100vh;
  top: 0px;
  overflow-y: scroll;

  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  padding: 0px;
}


.old-price {
  text-decoration: line-through;
}


.left-sidebar h1 {
  word-break: break-all;
}

.sale-data {
  display: flex;
}

.sale-data h4 {
  flex: auto;
}


.base-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.floating-container {
  position: fixed;
  right: 0px;
  z-index: 100;
  height: 100%;
  top: 0px;
  overflow-y: scroll;

  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  padding: 0px;

  /*transition: transform .2s ease-out;*/
  /*transition: transform .2s cubic-bezier(.72,.26,.54,1.25);*/
  transition: transform .2s cubic-bezier(.6,.02,.53,1.05);
  transform: translateX(100%);
}

#bag_container, #notifications_container, #help_container {
  padding-top: 64px;
}
.bag-container {
  padding: 8px;
}



.highlights_container {
  padding-right: 15px;
}
.highlights_container>h1 {
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 15px;
}
.highlights {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.highlights>.highlight {
  background-size: cover;
  background-position: center;

  width: 400px;
  min-width: 400px;
  height: 250px;

  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
}
.highlight>.data {
  background-color: rgba(0,0,0,.5);
  width: 100%;
  color: white;
  padding: 15px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.highlight>.data>h2 {
  margin-top: 0px;
  font-weight: bold;
}
.highlight>.data>a.btn {
  border-color: white;
  color: white;
  font-size: 16px;
}


/* theme previews */
.preview-container {
  overflow: auto;
  padding-bottom: 15px;
}
.preview-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.preview-button {
  float: right;
}
.theme-panel {
  padding: 0px;
  margin-left: -1px;
  border-radius: 0px;
  margin-bottom: -1px;
}


.input-group-addon:last-child {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  height: 40px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.dropdown-menu>li>a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding: 7px 8px 7px 8px;
}

.cp-pager {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp-pager>* {
  margin-left: 16px;
  margin-right: 16px;
}

body {
  opacity: 0;
  transition: .3s opacity;
  -webkit-transition: .3s opacity;
}

.fade-in {
  opacity: 1;
}
