.section-header {
  display: inline-block;
  margin-right: 20px;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  flex-justify: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}
.items-container>* {
  margin-bottom: 8px;
  margin-right: 8px;
}
.items-container.no-wrap {
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.items-container-full {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}
.items-container-full>hr {
  margin-left: -16px;
  margin-right: -16px;
}

.item-card {
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  flex: auto;
  min-width: 220px;
  max-width: 220px;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-card>.panel-heading {
  height: 200px;
  min-height: 200px;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;

  border: none;
}
.item-card>.panel-body {
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-card .description {
  margin-bottom: 30px;
  text-overflow: ellipsis;
}
.item-card .item_data {
  flex: 100%;
}

.item-card .item-barcode {
  opacity: .7;
}

.item-card .item-options {
  position: absolute;
  top: 0px;
  right: 0px;

  margin-top: -1px;
  margin-right: -1px;
}
.item-card .material-icons {
  /*font-size: px;*/
}
.item-card .item-options button {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.item-card .item-options .dropdown-menu {
  left: auto;
  right: 0px;
}

.item-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.item-card .item-price {
  flex-direction: row;
  margin-bottom: 0px;
}


.item-card .item-available {
  bottom: 0px;
  left: 0px;
  background-color: white;
}

.item-card .filler {
  height: 30px;
  min-height: 30px;
}







.card .card-content {
  width: 100%;
  padding: 24px 16px 24px 16px;
  flex-grow: 1;
}
.card .card-image {
  height: 240px;
  max-height: 240px;
  min-height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card .card-options {
  border-top: 1px solid rgba(0,0,0,.07);
  padding: 12px 16px 12px 16px;
  display: flex;
  align-items: center;
}

.card .subtitle {
  padding-top: 0px;
  color: #888888;
  margin: 0px;
}

.card .subtitle {
  margin-bottom: 16px;
}
.cp-item-card {
  max-width: 240px;
  min-width: 240px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  flex-direction: column;
}
.cp-item-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cp-item-card-title>h3 {
  margin: 0px;
  overflow: hidden;
  word-wrap: break-word;
  padding-right: 16px;
}

.cp-item-card .card-options {
  justify-content: space-between;
  flex-direction: row-reverse
}

.cp-item-card .availability {
  font-weight: bold;
}

.cp-item-card .price-data {
  display: flex;
  flex-direction: column;
}

.cp-item-card .price-data>* {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.cp-item-card .price-data .price-container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.cp-item-card .price-data .price-container h4 {
  margin: 0px;
}
.cp-item-card .price-data .price-container .old-price,
.cp-item-card .price-data .price-container .discount {
  display: none
}

.cp-item-card .item-options .dropdown-menu {
  left: auto;
  right: 0px;
}

.cp-item-card .options-dropdown, .cp-item-card .add-to-bag {
  cursor: pointer;
}









@media(max-width: 700px) {
  .items-container {
    /*flex-flow: column;
    overflow-x: auto;*/
  }
  .item-card {
    flex: auto;
    min-width: 100%;
    max-width: 100%;
    margin-right: 0px;
    vertical-align: top;
    display: table;
    margin-bottom: 8px;
    max-height: 152px;
  }
  .item-card>.panel-heading, .item-card>.panel-body {
    display: table-cell;
  }
  .item-card>.panel-heading {
    height: 100%;
    width: 20%;
    min-width: 140px;
    background-size: cover;
  }
  .item-card>.panel-body {
    height: 100%;
    padding-top: 40px;
  }
  .item-card .item-available {
    position: relative;
    margin: 0px;
  }
  @-moz-document url-prefix() {
    .item-card .item-options {
      margin-top: 0px;
      margin-right: 0px;
    }
  }


  /*.card .card-body {
    flex-grow: 1;
  }
  .card .card-image {
    width: 117px;
    max-width: 117px;
    min-width: 117px;
    height: 208px;
    max-height: 208px;
    min-height: 208px;
  }
  .card .card-options {
    border-top: 1px solid rgba(0,0,0,.07);
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
  }

  .card .subtitle {
    padding-top: 0px;
    color: #888888;
    margin: 0px;
  }
  .card .subtitle {
    margin-bottom: 16px;
  }
  .card .card-content {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
  }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cp-item-card {
    max-height: 208px;
    width: 100%;
    max-width: inherit;
    flex-direction: row;
  }
  .cp-item-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .cp-item-card-title>h3 {
    margin: 0px;
    overflow: hidden;
    word-wrap: break-word;
    padding-right: 16px;
  }

  .cp-item-card .availability {
    font-weight: bold;
  }
  .cp-item-card .old-price-container, .cp-item-card .discount-container {
    display: none;
  }
  .cp-item-card .price-data .price-container {
    display: flex;
  }
  .cp-item-card .price-data .price-container .old-price,
  .cp-item-card .price-data .price-container .discount {
    display: block;
    margin-right: 16px;
  }
  .cp-item-card .dropup .dropdown-menu {
    top: inherit;
    bottom: auto;
  }*/

}
