.navbar-default {
  background-color: #3672B6;
}

.navbar-default * {
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .btn-default {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(0,0,0,.1);
  color: white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-brand {
  color: rgba(255,255,255,.5);
}

.navbar-default i.icon {
  color: #505050;
}
