nav.the-nav {
  position: fixed;
  top: 0px;
  min-width: calc(100vw - 15px);
}

nav {
  display: flex;
  flex-direction: row;
  height: 64px;
  min-height: 64px;
  padding-left: 15px;
  padding-right: 0px;
  width: 100%;
  min-width: 100%;
  border-bottom: 1px solid;
  z-index: 10000;
}

nav * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav>section, #main_menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}


nav>section .menu-element {
  display: flex;
  align-items: center;
  height: 64px;

  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;

  cursor: pointer;
}
nav>section .menu-element .fa {
  font-size: 16px;
  transition: color .2s ease;
}

nav>section .menu-element>.menu-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}


nav>section.nav-left {
  flex: 0 1 auto;
}

nav>section.nav-right {
  justify-content: flex-end;
}

nav>section.nav-right .menu-element {
  padding-left: 7px;
  padding-right: 7px;
}
nav>section .menu-element i.add-on {
  padding-left: 8px;
}
nav>section.nav-left .menu-element {
  padding-right: 15px;
}

nav>section .submenu {
  display: none;
  top: 0px;
  margin-top: 64px;
  position: absolute;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0,0,0,.2);
}
nav>section .submenu>.menu-element {
  height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
nav>section .submenu#submenu_auth_0 {
  right: 0px;
}

nav>section .menu-element.brand {
  font-size: 18px;
  padding-left: 0px;
}
nav>section .menu-element.brand>img {
  max-width: 150px;
  max-height: 52px;
}

nav>section .form-group {
  margin: 0px;
}


#hamburger {
  display: none;
}
#hamburger i {
  padding-left: 0px;
}


#nav_screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0,0,0,.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease;
}

#search_menu_btn, #close_search {
  display: none;
}
#search_menu_element {
  flex: auto;
}
#search_form {
  width: 100%;
}


#m_nav_filler, #main_menu_m {
  transition: transform .2s ease;
  transform: translateX(-100%);
}

#main_menu_m {
  /*display: none;*/
  left: 0px;
  position: fixed;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 100%;
  width: 300px;
  z-index: 10002;
  box-shadow: 4px 0px 4px rgba(0,0,0,.1);
  padding-top: 64px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: auto;
}
#main_menu_m .menu-element {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 52px;
    height: auto;
}
nav>section #main_menu_m .submenu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    top:auto;
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
#main_menu_m a, #m_nav_filler>.menu-element, #m_nav_filler a {
  color: black;
}
#m_nav_filler {
  position: fixed;
  top: 0px;
  height: 64px;
  width: 300px;
  left: 0px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 10005;
}



@media (min-width: 1100px) {
  .hamburger {
    display: none !important;
  }
  #search_form {
    width: 100% !important;
  }
  #main_menu_m, #m_nav_filler {
    display: none;
  }
}
@media (max-width: 1100px) {
  nav {
    padding-left: 0px;
    padding-right: 15px;
  }
  #main_menu, #auth_menu {
    display: none;
  }
  .brand, .hamburger {
    z-index: 10004;
  }
  .hamburger {
    padding-left: 15px;
    display: flex !important;
  }
  #close_search {
    padding-left: 15px;
  }
}

@media (max-width: 600px) {
  #search_form {
    /*display: none;*/
    transform: translateY(-64px);
    width: 0px;
    transition: transform .2s ease;
  }
  #search_menu_btn:not(.hidden) {
    display: flex !important;
  }
  .hamburger.hidden, *.hidden {
    display: none !important;
  }
  #notifications_qty {
    display: none;
  }
}
@media (min-width: 600px) {
  #search_form {
    /*display: block !important;*/
    transform: none !important;
  }
  #search_form {
    width: 100% !important;
  }
  .brand, #bag_btn {
    display: flex !important;
  }
  #search_menu_btn, #close_search {
    display: none !important;
  }
}
