.ticket {
  font-family: monospace;
  font-size: 12px;
  min-width: 2.25in;
}

.ticket p {
  text-align: center;
}

.ticket #items_list {
}

#items_list .item>.qty {
  width: 1cm;
  max-width: 1cm;
  min-width: 1cm;
}
#items_list .item>.name {
  margin-left: 8px;
}
#items_list .item>.price {
  float: right;
}

#total_data, #payments_data {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

#barcode {
  margin: auto;
}
