.ticket {
  font-family: monospace;
  font-size: 12px;
  min-width: 2.25in;
  padding: .5cm;
}

.ticket p {
  text-align: center;
}

.ticket .logo {
  width: 80px;
  margin-bottom: 20px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.ticket th {
  text-align: left;
}
.ticket #items_list {
  width: 100%
}

#items_list .item>.qty {
  width: 1cm;
  max-width: 1cm;
  min-width: 1cm;
}
#items_list .item>.name {
  margin-left: 8px;
}
#items_list .item>.price {
  float: right;
}

#total_data, #payments_data {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

#barcode {
  margin: auto;
}


.right p {
  text-align: right;
}

.ticket .head {
  font-size: 18px;
}
