{{extend "layout.html"}}

{{import random}}
{{import datetime}}
{{from gluon.serializers import json}}


<h1>{{=T("Cash out")}}</h1>

<h3>{{=T("Seller")}}: {{=seller.first_name}}</h3>

<h3>{{=T("Sales")}}</h3>

{{if not sales_data:}}
  <p>{{=T("No sales reported")}} </p>
{{else:}}

  <div>
    <canvas id="payment_opt_distrib"></canvas>
  </div>
  <canvas id="sales_distrib"></canvas>


  {{total = 0}}


  {{
    sales_chart_data = {
      "labels": ["%d AM" % i for i in range(0,12)] + ['12 PM'] + ["%d PM" % i for i in range(1,12)],
      "datasets": [
        {
          "label": T("Sales")
        }
      ]
    }
  }}


  {{for sale_data in sales_data:}}
    {{total += sale_data.sale.total}}
  <div>
    <div class="row">
      <div class="col-md-3"><b>#</b> {{=sale_data.sale.id}}</div>
      <div class="col-md-3">{{=sale_data.sale.created_on}}</div>
      <div class="col-md-3">{{=sale_data.sale.total}}</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      {{payments = db(db.payment.id_sale == sale_data.sale.id).select(orderby=db.payment.id_payment_opt)}}
      <div class="progress">
        {{for payment in payments:}}
          {{ hex = payment_opt_data[str(payment.id_payment_opt.id)]["color"] }}

          {{p = (payment.amount - payment.change_amount) / sale_data.sale.total * DQ(100, True)}}
          <div class="progress-bar" style="width: {{=p}}%; background-color: {{=hex}};">
            <span>{{=payment.id_payment_opt.name}}: {{=DQ(payment.amount - payment.change_amount, True)}}</span>
            {{ payment_opt_data[str(payment.id_payment_opt.id)]['value'] += DQ(payment.amount - payment.change_amount, True) }}
          </div>
        {{pass}}
      </div>

    </div>
  </div>
  {{pass}}


  {{=SCRIPT("var payment_opt_distrib = %s" % json(payment_opt_data) )}}

  <script src="{{=URL('static', 'js/Chart.js')}}" charset="utf-8"></script>


  <script type="text/javascript">
    var ctx = document.getElementById("payment_opt_distrib").getContext("2d");
    var myDoughnutChart = new Chart(ctx).Pie(payment_opt_distrib, null);
    console.log(payment_opt_distrib);
  </script>


  <div class="right"> <span>{{=T("Total")}}</span> $ {{=total}}</div>


{{pass}}
