{{left_sidebar_enabled = True}}
{{extend "layout.html"}}

{{from gluon.serializers import json}}

{{block page_css}}
  <link rel="stylesheet" href="{{=URL('static', 'css/ctrlpyme_print.css')}}">
{{end}}


<div class="cash-out-report">
  <h1 class="noprint">{{=T('Details')}}</h1>
  <h3 class="print">
    {{=T('Cash out report')}} {{=T('for')}}:
    {{=seller.first_name}} {{=seller.last_name}}
    &lt{{=seller.email}}&gt
    <hr>
  </h3>
  {{if not sales:}}
    <p>{{=T("No sales reported")}} </p>
  {{else:}}

    {{block left_sidebar}}
      <h1>{{=T("Cash out")}}</h1>
      <h4>{{=T("Seller")}}: {{=seller.first_name}}</h4>
      <div>
        <canvas id="payment_opt_distrib" style="width: 100%;"></canvas>
      </div>

      <h3>{{=T('Total')}}: <span class="right">$ {{=total}} </span></h3>
      <h3>{{=T('Total Cash')}}: <span class="right">$ {{=total_cash}}</span></h3>
      {{if not cash_out.is_done:}}
        <hr>
        <div class="form-group">
          <label for="phys_cash">{{=T('Physical cash')}}:</label>
          <input type="number" class="form-control cash-out-update" id="phys_cash" name="phys_cash" value="{{=cash_out.cash}}" target="cash">
        </div>
        <div class="form-group">
          <label for="cash_out_notes">{{=T('Notes')}}:</label>
          <textarea id="cash_out_notes" name="cash_out_notes" rows="8" cols="40" class="form-control cash-out-update" target="notes">{{=cash_out.notes if cash_out.notes else ''}}</textarea>
        </div>
        <a class="btn btn-primary btn-block" href="{{=URL('cash_out', 'done', args=cash_out.id)}}">{{=T('Done')}}</a>
      {{pass}}
    {{end}}

    <h2 class="noprint">{{=T("Sales")}}</h2>

    {{for sale in sales:}}
      <div>
        <div class="media cash-out-sale">
          <div class="media-left media-top noprint">
            <a href="{{=URL('sale', 'ticket', args=sale.id)}}" target="_blank">
              <h3 class="noprint">#{{=sale.id}}</h3>
            </a>
          </div>
          <div class="media-body" style="padding-left: 16px;">
            <div class="sale-data">
              <h4> <b class="print"> {{=T('sale')}} #{{=sale.id}} - </b>
                {{=sale.created_on}}
              </h4>
              <h4 class="right"> $ {{=DQ(sale.total, True)}} </h4>
            </div>
              <div class="progress sale-progress noprint">
                {{for _key in sale.payments.iterkeys(): }}
                  {{ payment_opt = payment_opts_ref[_key] }}
                  {{ payment = sale.payments[_key] }}
                  {{ hex = payment_opt.c_color }}

                  {{payment_amount = payment.amount - payment.change_amount}}
                  {{p = payment.amount / (sale.payments_total + sale.change) * DQ(100, True)}}
                  <div class="progress-bar" style="width: {{=p}}%; background-color: {{=hex}}; font-size: 14px;">
                    <span>{{=payment_opt.c_label}}: {{=DQ(payment.amount, True)}}</span>
                    {{ payment_opt.c_value += DQ(payment_amount, True) }}
                  </div>
                  {{p = sale.change / (sale.payments_total + sale.change) * DQ(100, True)}}
                  <div class="progress-bar" style="width: {{=p}}%; background-color: #333; font-size: 14px;">
                    <span>{{=T('Change')}}: {{=DQ(sale.change, True)}}</span>
                  </div>
                {{pass}}
              </div>
          </div>
        </div>
      </div>
    {{pass}}

    <div class="print">
      <h5><span class="right">{{=T('Total')}} : $ {{=total}}</span></h5><br>
      <hr>
      {{for payment_opt in payment_opts: }}
        {{ if payment_opt.c_value: }}
          <h5><span class="right">{{=payment_opt.c_label}} : $ {{=payment_opt.c_value}}</span></h5><br>
        {{pass}}
      {{pass}}
      <hr>
      <h5><b class="right">{{=T('System cash')}} : $ {{=total_cash}}</b></h5><br>
      <h5><b class="right">
        {{=T('Physical cash')}} : $ <span id="cash_out_cash">{{=DQ(cash_out.cash, True)}}</span>
      </b></h5>
    </div>



    {{block page_js}}
      {{=SCRIPT("var payment_opt_distrib = %s" % json(pie_data_format(payment_opts)) )}}
      <script src="{{=URL('static', 'js/chartjs/Chart.min.js')}}" charset="utf-8"></script>
      <script type="text/javascript">
        var ctx = document.getElementById("payment_opt_distrib").getContext("2d");
        new Chart(ctx, {type: 'pie', data: payment_opt_distrib});

        $('.cash-out-update').change(function (event) {
          info_card("{{=T('Saving...')}}");

          var target = $(event.target);
          $.ajax({
            url: "{{=URL('cash_out', 'update', args=cash_out.id, extension='json')}}?target=" + target.attr('target') + '&value=' + target.val()
          })
          .done(function (res) {
            info_card("{{=T('Saved')}}");
            if (res.target) {
              $('#cash_out_' + res.target).text(res.value);
              target.val(res.value);
            }
          })
          .fail(function (res) {
            info_card("{{=T('Error')}}");
          })
        });
      </script>
    {{end}}

  {{pass}}
</div>
