{{left_sidebar_enabled = True}}
{{extend "layout.html"}}

{{import random}}
{{import datetime}}
{{from gluon.serializers import json}}


{{if not sales_data:}}
  <p>{{=T("No sales reported")}} </p>
{{else:}}

  {{block left_sidebar}}
    <h1>{{=T("Cash out")}}</h1>
    <h4>{{=T("Seller")}}: {{=seller.first_name}}</h4>
    <div>
      <canvas id="payment_opt_distrib" style="width: 100%;"></canvas>
    </div>
    <canvas id="sales_distrib"></canvas>

    <h3>{{=T('Total')}}: <span class="right">$ <span id="total_q"></span></span></h3>
  {{end}}


  {{
    sales_chart_data = {
      "labels": ["%d AM" % i for i in range(0,12)] + ['12 PM'] + ["%d PM" % i for i in range(1,12)],
      "datasets": [
        {
          "label": T("Sales")
        }
      ]
    }
  }}



    {{total = 0}}

    <h2>{{=T("Sales")}}</h2>

    {{sale_index = -1}}
    {{for sale_data in sales_data:}}
      {{sale_index += 1}}
      {{total += sale_data.sale.total}}
    <div>
      <div class="media">
        <div class="media-left media-top">
          <a href="{{=URL('sale', 'ticket', args=sale_data.sale.id)}}">
            <h3>#{{=sale_data.sale.id}}</h3>
          </a>
        </div>
        <div class="media-body" style="padding-left: 16px;">
          <div>
            <h4>
              {{=sale_data.sale.created_on}}
              <span class="right">
                $ {{=DQ(sale_data.sale.total, True)}} | <span id="change_{{=sale_index}}"></span> {{=T('change')}}
              </span>
            </h4>
          </div>
          <div>
            {{total_change = 0}}
            {{payments = db(db.payment.id_sale == sale_data.sale.id).select(orderby=db.payment.id_payment_opt)}}
            <div class="progress sale-progress" style="margin-bottom:0px;">
              {{for payment in payments:}}
                {{ hex = payment_opt_data[str(payment.id_payment_opt.id)]["color"] }}

                {{p = (payment.amount - payment.change_amount) / sale_data.sale.total * DQ(100, True)}}
                <div class="progress-bar" style="width: {{=p}}%; background-color: {{=hex}}; font-size: 14px;">
                  <span>{{=payment.id_payment_opt.name}}: {{=DQ(payment.amount - payment.change_amount, True)}}</span>
                  {{ payment_opt_data[str(payment.id_payment_opt.id)]['value'] += DQ(payment.amount - payment.change_amount, True) }}
                </div>
                {{total_change += payment.change_amount}}
              {{pass}}
              {{change = total_change / sale_data.sale.total * DQ(100, True)}}
              <div class="progress-bar" style="width: {{=change}}%; background-color: {{=change_color}};"> </div>
              {{total_change = DQ(total_change, True)}}
              <script>
                $('#change_{{=sale_index}}').text("{{=total_change}}");
              </script>
            </div>

          </div>
        </div>
      </div>
    </div>


    <script>
      $('#total_q').text('{{=DQ(total, True)}}');
    </script>



  {{pass}}


  {{=SCRIPT("var payment_opt_distrib = %s" % json(payment_opt_data) )}}

  <script src="{{=URL('static', 'js/Chart.js')}}" charset="utf-8"></script>


  <script type="text/javascript">
    var ctx = document.getElementById("payment_opt_distrib").getContext("2d");
    var myDoughnutChart = new Chart(ctx).Pie(payment_opt_distrib, null);
    console.log(payment_opt_distrib);
  </script>

{{pass}}
