{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{ block page_css }}
  <link rel="stylesheet" href="{{=URL('static','css/ctrlpyme_print.css')}}"/>
{{ end }}


{{block left_sidebar}}
{{if selected_day == today:}}
  <h1>{{=T('Events')}}</h1>
{{else:}}
  <h1>{{=selected_day.strftime('%B %d, %Y')}}</h1>
{{pass}}
  <ul class="list-group" id="events"> </ul>
{{end}}


<h1>{{=T('Calendar')}}</h1>

<style>
  .calendar-view {
    display: flex;
    flex-wrap: wrap;
  }
  .calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .calendar-day, .calendar-header {
    margin-top: -1px;
    margin-left: -1px;
    min-width: 14.285714285714286%;
    width: 14.285714285714286%;
    padding: 1vmin;
  }
  .calendar-day {
    display: flex;
    flex-direction: column;
  }
  .calendar-day:not(.empty) {
    border: 1px solid rgba(0,0,0,.1);
    background-color: white;
  }
  .calendar-day.empty * {
    display: none;
  }
  .calendar-day.today {
    background-color: rgba(0, 0, 0, .01);
    z-index: 100;
    /*color: white;*/
  }
  .calendar-day.selected {
    background-color: {{=accent_color}};
    color: white;
    z-index: 100;
    /*color: white;*/
  }
  .day-number {
    font-size: 2vmax;
    text-align: right;
    margin: 0px;
  }
  .day-events {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-end;
    align-self: flex-end;
    font-size: 22px;
  }
  .day-events i {
    font-size: 2vmax;
  }
</style>

<div class="calendar-view">
  {{ for day_name in day_names: }}
    <div class="calendar-header">
      {{ =day_name }}
    </div>
  {{ pass }}
  {{ for week in month_calendar: }}
    {{ for day in week: }}
      {{ classes = "calendar-day" }}
      {{ if not day: }} {{ classes += " empty" }} {{ pass }}
      {{ if selected_day.day == day: }}{{ classes += " selected" }}{{ pass }}
      {{ if day == today.day: }} {{ classes += " today" }} {{ pass }}
      <div class="{{=classes}}" {{if day:}}id="day_{{=day}}"{{pass}} day="{{=day}}">
        <h3 class="day-number">{{=day}}</h3>
        <div class="day-events">
          {{ for event in events[day - 1]: }}
            {{ =ICON(event['icon']) }}
          {{ pass }}
        </div>
      </div>
    {{ pass }}
  {{ pass }}
</div>


<template id="proto_event">
  <ul class="event-container list-group-item" hidden="hidden">
    <span class="event-name"></span>
    <span class="right"><a class="event-link" href="">{{=T('View')}}</a></span>
  </ul>
</template>



{{ block page_js }}
  {{=events_script}}
  <script>
    function resize_weeks() {
      var w = $('.calendar-day').css('width');
      $('.calendar-day').css('height', w);
    }
    resize_weeks();
    window.addEventListener("resize", function(event) {
    resize_weeks();
    });

    var t_event = document.querySelector('#proto_event');
    var selected_day = {{=selected_day.day}};
    $('.calendar-day:not(.empty)').click(function (event) {
      $('#events>.event-container').remove('*');
      $('.calendar-day.selected').removeClass('selected');
      selected_day = $(this).attr('day');
      $('#day_' + selected_day).addClass('selected');

      var selected_day_events = events[selected_day - 1];
      for (var index in selected_day_events) {
        var clone = $(document.importNode(t_event.content, true));
        clone.find('.event-name').html(selected_day_events[index].name);
        clone.find('.event-link').attr('href', selected_day_events[index].url);
        $('#events').append(clone);
      }
      $('#events')[0].scrollIntoView();
    })
  </script>
{{ pass }}
