{{left_sidebar_enabled = True}}
{{extend "layout.html"}}

<script src="{{=URL('static','js/chartjs/Chart.min.js')}}"></script>


{{=today_sales_data_script}}
<!-- <h1>{{=T("Analytics")}}</h1> -->

{{block left_sidebar}}
  <h1>{{=T('Today')}}</h1>

  <canvas style="width: 100%" id="today_sales_chart"></canvas>

  <h3>{{=T('Income')}}: <span class="right">$ {{=DQ(income, True)}}</span></h3>
  <h3>{{=T('Expenses')}}: <span class="right">$ {{=DQ(expenses, True)}}</span> </h3>
{{end}}


<h1>{{=T('Sellers')}}</h1>
{{=employees_data}}


<script>
  Chart.defaults.global.showScale = false;

  var ctx = $('#today_sales_chart').get(0).getContext("2d");
  today_sales_data.datasets[0].backgroundColor = "{{=hex_to_css_rgba(accent_color, .7)}}";
  today_sales_data.datasets[0].pointBorderColor = "{{=accent_color_dim}}";
  today_sales_data.datasets[0].borderColor = "{{=accent_color_dim}}";
  today_sales_data.datasets[0].label = "{{=T('today')}}";
  var myLineChart = new Chart(ctx, {
    type: 'line', data: today_sales_data,
    pointHitDetectionRadius: 5
  });

</script>
