{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<div class="panel panel-default">
  <div class="panel-body">
    <h2>{{=item.name}}</h2>

    {{if main_image:}}
    <img src="{{=URL('static', 'uploads/'+main_image.md)}}" alt="" width="100%">
    {{pass}}
    <h4>{{=T('Existences')}}
      <span class="right">
        {{ if item.has_inventory: }}
          {{ =DQ(existence, True) }}
        {{ else: }}
          {{ =T('Unlimited') }}
        {{ pass }}
      </span>
    </h4>

    {{ if item.has_inventory: }}
    <h4>{{=T('Average days in shelf')}} <span class="right">
      {{if not wavg_days_in_shelf: }}
        ???
      {{else:}}
        {{=wavg_days_in_shelf}}
      {{pass}}
      </span>
    </h4>
    {{pass}}

  </div>
</div>
{{end}}


{{ if item.has_inventory: }}
  <hr>
  {{=stocks}}
{{ pass }}

<hr>
{{=outputs_t}}

{{ if item.has_inventory: }}
<hr>
{{=out_inventories_t}}
{{ pass }}
