{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<div class="panel panel-default">
  <div class="panel-body">
    <h2>{{=item.name}}</h2>

    {{if main_image:}}
    <img src="{{=URL('default', 'download', args=main_image.md)}}" alt="" width="100%">
    {{pass}}
    <h4>{{=T('Existences')}} <span class="right">{{=DQ(existence, True)}}</span></h4>
    <h4>{{=T('Average days in shelf')}} <span class="right">
      {{if not wavg_days_in_shelf: }}
        ???
      {{else:}}
        {{=wavg_days_in_shelf}}
      {{pass}}
      </span>
    </h4>
  </div>
</div>
{{end}}


<h3>{{=T('Input')}}</h3>
{{=stocks}}

<h3>{{=T('Output')}}</h3>
<table class="table">
  <thead>
    <th>{{=T('Sale')}}</th>
    <th>{{=T('Quantity')}}</th>
    <th>{{=T('Created on')}}</th>
    <th>{{=T('Created by')}}</th>
  </thead>
  <tbody>
    {{for sale in sales:}}
      <tr>
        <td><a href="{{=URL('sale', 'ticket', args=sale.sale.id)}}">{{=T('Sale')}} {{=sale.sale.consecutive}}</a></td>
        <td>{{=DQ(sale.bag_item.quantity, normalize=True)}}</td>
        <td>{{=sale.sale.created_on.strftime('%d %b %Y, %H:%M')}}</td>
        <td>{{=sale.sale.created_by.first_name + ' ' + sale.sale.created_by.last_name}}</td>
      </tr>
    {{pass}}
    {{for transfer in stock_transfers:}}
      <tr>
        <td><a href="{{=URL('stock_transfer', 'ticket', args=transfer.stock_transfer.id)}}">{{=T('Stock transfer')}} {{=transfer.stock_transfer.id}}</a></td>
        <td>{{=DQ(transfer.bag_item.quantity, normalize=True)}}</td>
        <td>{{=transfer.stock_transfer.created_on.strftime('%d %b %Y, %H:%M')}}</td>
        <td>{{=transfer.stock_transfer.created_by.first_name + ' ' + sale.sale.created_by.last_name}}</td>
      </tr>
    {{pass}}
  </tbody>
</table>
