{{extend 'layout.html'}}
<h1>{{=T('New Sale')}}</h1>
{{=form}}
{{context_sidebar = False}}


<div id="proto_payment" hidden="hidden">
  <div class="form-inline">
    <input type="text" placeholder="Amount" class="form-control amount">
    <input type="text" placeholder="Change" class="form-control change_amount" disabled="">
    <input type="text" placeholder="Account" class="form-control account">
    <input type="text" placeholder="Wallet code" class="form-control wallet_code">
    <i class="fa fa-times remove_payment"></i>
  </div>
</div>


<script>
  var selected_payment_opt = {{=selected_payment_opt}};


  function modify_payment(payment_id) {
    var el_payment = $('#payment_' + payment_id);
    var payment_data = {}
    payment_data.amount = el_payment.find('.amount').val();
    payment_data.change_amount = el_payment.find('.change_amount').val();
    payment_data.account = el_payment.find('.account').val();
    payment_data.wallet_code = el_payment.find('.wallet_code').val();
    // create an URL vars argument
    var vars_str = '';
    for (k in payment_data) {
      var payment_data_value = payment_data[k]
      if (!payment_data_value) { payment_data_value = 0 }
      vars_str += k + '=' + payment_data_value + '&';
    }

    $.ajax({
      url: "{{=URL('modify_payment', extension='json')}}/" + payment_id + '?' + vars_str
    })
    .done(function (res) {
      el_payment.find('.amount').val(res.payment.amount);
      el_payment.find('.change_amount').val(res.payment.change_amount);
      el_payment.find('.account').val(res.payment.account);
      el_payment.find('.wallet_code').val(res.payment.wallet_code);

      console.log(res.payments);
      for (var index in res.payments) {
        var other_payment_data = res.payments[index];
        var el_other_payment = $('#payment_' + other_payment_data.id + ' .change_amount')
        el_other_payment.val(other_payment_data.change_amount);
      }
    })
    .fail(function (res) {
      console.log(res);
      alert('{{=T("Unable to modify payment")}}')
    });
  }


  function add_payment_element(payment_opt, payment) {
    var el_new_payment = $('#proto_payment').clone().show();
    el_new_payment.attr('id', 'payment_' + payment.id);

    // remove inputs based on payment option
    if (!payment_opt.allow_change) {
      el_new_payment.find('.change_amount').remove();
    }
    if (!payment_opt.requires_account) {
      el_new_payment.find('.account').remove();
    }
    if (payment_opt.name != 'wallet') {
      el_new_payment.find('.wallet_code').remove();
    }

    $('#payments_list_' + payment_opt.id).prepend(el_new_payment);
    $('#payments_list_container_' + payment_opt.id).show();

    el_new_payment.find('.amount').val(payment.amount);
    el_new_payment.find('.change_amount').val(payment.change_amount);
    el_new_payment.find('.account').val(payment.account);
    el_new_payment.find('.wallet_code').val(payment.wallet_code);

    el_new_payment.find('input').change(function (event) {
      modify_payment(payment.id);
    });

    // remove payment
    el_new_payment.find('.remove_payment').click(function (event) {
      $.ajax({
        url: "{{=URL('remove_payment', extension='json')}}/" + payment.id
      })
      .done(function (res) {
        $('#payment_' + payment.id).remove();

        if (!$('#payments_list_' + payment_opt.id).children().length) {
          $('#payments_list_container_' + payment_opt.id).hide();
        }
      })
      .fail(function (res) {

      })
    })
  }


  // change the selected payment option
  $('#payment_options>a').click(function (event) {
    selected_payment_opt = $(event.target).attr('value');
    $('.payment_opt').removeClass('btn-primary');
    $('#payment_opt_' + $(event.target).attr('value')).addClass('btn-primary');
  })

  // add a new payment
  $('#add_payment').click(function (event) {
    $.ajax({
      url: "{{=URL('sale', 'add_payment', extension='json')}}/" + {{=bag.id}} + '/' + selected_payment_opt
    })
    .done(function (res) {
      add_payment_element(res.payment_opt, res.payment);
    })
    .fail(function (res) {

    })
  })


  {{# recreate payments }}
  {{for p in payments:}}
    payment_opt = {
      id: {{=p.id_payment_opt}}
      , name: '{{=p.id_payment_opt.name}}'
      , allow_change: {{='true' if p.id_payment_opt.allow_change else 'false'}}
      , requires_account: {{='true' if p.id_payment_opt.requires_account else 'false'}}
    }
    payment = {
        id: {{=p.id}}
      , id_bag: {{=p.id_bag}}
      , amount: {{=p.amount or 'null'}}
      , account: "{{=p.account or 'null'}}"
      , change_amount: {{=p.change_amount or 'null'}}
      , wallet_code: "{{=p.wallet_code or ''}}"
    }
    add_payment_element(payment_opt, payment);
  {{pass}}
</script>
