{{extend 'layout.html'}}

<h1>{{=T('Refund sale')}} {{=sale.consecutive}}</h1>
<h3>{{=T('Purchased on store')}}: {{=sale.id_store.name}}</h3>

<p>{{=T('Total')}} $ {{=DQ(payments_total, True)}}</p>
{{if sale.id_client:}}
  <p>{{=T('Client')}} {{=sale.id_client.email}}</p>
{{pass}}

{{ if not invalid: }}
  {{if returnable_items_qty:}}
    <table class="table">
      <tbody>

        {{ max = 0 }}
        {{ current = removals[0] }}
        {{ for returnable in removals: }}
          {{ max += returnable.qty }}

          {{ if current.id_bag_item.id != returnable.id_bag_item.id or returnable.id == removals[-1].id: }}
            <tr>
              <td>{{=current.id_bag_item.product_name}}</td>
              <td>
                <input id="" type="number" class="form-control return_item_qty" bagitemid="{{=current.id_bag_item.id}}"
                    max={{=max}} min=0 value="0">
              </td>
            </tr>
            {{ max = 0 }}
            {{ current = returnable }}
          {{ pass }}

        {{ pass }}


      </tbody>
    </table>

    {{=form}}
  {{ elif sale.is_defered: }}
    <p>{{=T('Refund all payments')}}</p>
    {{=form}}
  {{ pass }}
{{ else: }}
  <p>{{=T('Everything has been returned!')}}</p>
{{ pass }}


{{block page_js}}
  <script>
    $('#no_table_returned_items__row').hide();

    return_items_data = {}

    function refresh_return_items() {
      var return_items_str = ""
      for (var k in return_items_data) {
        return_items_str += k + ':' + return_items_data[k] + ',';
      }
      $('#no_table_returned_items').val(return_items_str.slice(0, -1));
    }

    $('.return_item_qty').change(function(event) {
      var bag_item_id = $(event.target).attr('bagitemid');
      return_items_data[bag_item_id] = event.target.value
      refresh_return_items();
    })
  </script>
{{end}}
