{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}


{{block left_sidebar}}
  <h1>{{=T('Refund sale')}} {{=sale.consecutive}}</h1>
  <h3>{{=T('Purchased on store')}}: {{=sale.id_store.name}}</h3>

  <p>{{=T('Total')}} $ {{=DQ(payments_total, True)}}</p>
  {{if sale.id_client:}}
    <p>{{=T('Client')}} {{=sale.id_client.email}}</p>
  {{pass}}

  {{ if not no_more_items and not invalid: }}
    <hr>
    {{=form}}
  {{ pass }}


{{end}}




<h1>{{=T('Items')}}</h1>

{{ if not invalid: }}
  {{ if not no_more_items: }}
    <table class="table">
      <tbody>

        {{ for current in item_removals.itervalues(): }}
          <tr>
            <td>{{=current.product_name}}</td>
            <td>
              <input id="" type="number" class="form-control return_item_qty" bagitemid="{{=current.id}}"
                  max={{=current.max}} min=0 value="0">
            </td>
          </tr>
        {{ pass }}

      </tbody>
    </table>
  {{ elif sale.is_deferred: }}
    <p>{{=T('Refund all payments')}}</p>
  {{ else: }}
    <p>{{=T('No more items to return!')}}</p>
  {{ pass }}
{{ else: }}
  <p>{{=T('Everything has been returned!')}}</p>
{{ pass }}




{{block page_js}}
  <script>
    $('#no_table_returned_items__row').hide();

    return_items_data = {}

    function refresh_return_items() {
      var return_items_str = ""
      for (var k in return_items_data) {
        return_items_str += k + ':' + return_items_data[k] + ',';
      }
      $('#no_table_returned_items').val(return_items_str.slice(0, -1));
    }

    $('.return_item_qty').change(function(event) {
      var bag_item_id = $(event.target).attr('bagitemid');
      return_items_data[bag_item_id] = event.target.value
      refresh_return_items();
    })
  </script>
{{end}}
