{{extend 'layout.html'}}

<h1>{{=T('Scan Bag ticket')}}</h1>
<div id="ticket_scanner_container"></div>

{{block page_js}}
<script>
  function fail_callback(data, barcode) {
    alert("{{=T('Nothing found')}}");
  }

  function success_callback(data, barcode) {
    window.location.href = "{{=URL('sale', 'create')}}/" + barcode;
  }

  var scanner = create_scanner('ticket', $('#ticket_scanner_container'));
  setup_scanner(scanner, success_callback, fail_callback, null, "{{=URL('bag', 'get', extension='json')}}/");
</script>
{{end}}
