{{extend 'layout.html'}}

<h1>{{=T('Scan')}} {{=T('Sale ticket')}}</h1>
<div id="ticket_scanner_container"></div>


{{block page_js}}
<script>
  function fail_callback(data, barcode) {
    alert(data.msg);
  }

  function success_callback(data, barcode) {
    window.location.href = "{{=URL('sale', 'refund')}}/" + data.sale.id;
  }

  var scanner = BarcodeScanner('ticket', $('#ticket_scanner_container'));
  scanner.setup(success_callback, fail_callback, null, "{{=URL('get', extension='json')}}/");
</script>
{{end}}
