{{left_sidebar_enabled = True}}
{{include_bag = False}}
{{extend 'layout.html'}}

{{block left_sidebar}}
  <h1>{{=T('New Sale')}}</h1>
  <p>{{=T('Subtotal')}} <span class="right">$ {{=DQ(sale.subtotal, True)}}</span></p>
  <p>{{=T('Taxes')}} <span class="right">$ {{=DQ(sale.taxes, True)}}</span></p>
  <p>{{=T('Total')}} <span class="right">$ {{=DQ(sale.total, True)}}</span></p>
  <p>{{=T('Reward points')}} <span class="right">$ {{=DQ(sale.reward_points, True)}}</span></p>

  <hr>
  <h4 style="margin-top: 30px;">{{=T('Client')}}</h4>
  <select name="" class="form-control" id="client_selector">
    <option value=""></option>
    {{for client in clients:}}
      <option value="{{=client.id}}" {{if sale.id_client == client.id:}} selected="selected" {{pass}}>{{=client.first_name}} {{=client.last_name}} &lt{{=client.email}}&gt </option>
    {{pass}}
  </select>

  <div id="client_wallet_data" hidden="hidden">
    <h5>{{=T('Balance')}}: <span class="right">$ <span id="client_wallet_balance"></span> </span></h5>
    <button class="btn-block" id="client_wallet_payment"> {{=T('Pay')}} </button>
  </div>

  <hr>

  <div style="margin-top: 30px">
    <a href="" class="btn btn-default">Cancel</a>
    <a href="" class="btn btn-primary right">Complete</a>
  </div>
{{end}}



<h1>{{=T('Payments')}}</h1>
<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="..." id="payment_options">
    {{for payment_opt in payment_options:}}
      <button class="btn btn-default {{='btn-primary' if payment_opt == payment_options[0] else ''}}" id="payment_opt_{{=payment_opt.id}}" payment-opt-id="{{=payment_opt.id}}"> {{=payment_opt.name}}</button>
    {{pass}}
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-default" id="add_payment">{{=ICON('plus')}}</button>
  </div>
</div>

<div class="payments_list">
  {{for payment_opt in payment_options:}}
    <div id="payments_{{=payment_opt.id}}" hidden="hidden">
      <hr>

      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{=payment_opt.name}}</h3></div>
        <div class="panel-body" id="payments_list_{{=payment_opt.id}}">
        </div>
      </div>

      <div id="proto_payment_{{=payment_opt.id}}" hidden="hidden" class="form-inline">
        <div class="input-group">
          <span class="input-group-addon">{{=T('Amount')}}</span>
          <input type="text" name="amount" class="form-control amount">
        </div>
        {{if payment_opt.allow_change:}}
          <div class="input-group">
            <span class="input-group-addon">{{=T('Change')}}</span>
            <input type="text" class="form-control change" disabled>
          </div>
        {{pass}}
        {{if payment_opt.requires_account:}}
          <div class="input-group">
            <span class="input-group-addon">{{=T('Account')}}</span>
            <input type="text" name="account" class="form-control account" dissabled>
          </div>
        {{pass}}
        {{if is_wallet(payment_opt):}}
          <div class="input-group">
            <span class="input-group-addon">{{=T('Code')}}</span>
            <input type="text" name="wallet_code" class="form-control wallet_code" dissabled>
          </div>
        {{pass}}
        {{=ICON('times', _class="delete")}}
      </div>
    </div>
  {{pass}}
</div>


{{block page_js}}
<script>
  // show client data wallet
  {{if sale.id_client and sale.id_client.id_wallet:}}
    $('#client_wallet_data').show();
    $('#client_wallet_balance').text("{{=DQ(sale.id_client.id_wallet.balance,True)}}")
  {{pass}}

  // client selection
  $('#client_selector').change(function (event) {
    info_card("{{=T('Saving...')}}");

    var target = $(event.target)
    $.ajax({
      url: "{{=URL('set_sale_client', extension='json', args=sale.id)}}/" + target.val()
    })
    .done(function (res) {
      if (res.wallet) {
        $('#client_wallet_data').show();
        $('#client_wallet_balance').text(res.wallet.balance);
      }
      else {
        $('#client_wallet_data').hide();
      }
      info_card("{{=T('Saved')}}");
    })
    .fail(function (res) {
      info_card("{{=T('Something went wrong')}}");
    });
  });


  $('#client_wallet_payment').click(function (event) {
    $.ajax({
      url: "{{=URL('')}}"
    })
  });



  var selected_payment_opt_id = {{=payment_options.first().id}}

  // payment option selection
  $('#payment_options>button').click(function (event) {
    target = $(event.target)
    selected_payment_opt_id = target.attr('payment-opt-id');
    $('#payment_options>button').removeClass('btn-primary');
    target.addClass('btn-primary');
  });


  function post_update(res) {
    if (res.updated) {
      for (var index in res.updated) {
        var payment = res.updated[index];
        $('#payment_' + payment.id).find('.amount').val(payment.amount);
        $('#payment_' + payment.id).find('.change').val(payment.change_amount);
        $('#payment_' + payment.id).find('.wallet_code').val(payment.wallet_code);
      }
    }
  }


  function clone_proto_payment(payment) {
    var e_payment = $('#proto_payment_' + payment.id_payment_opt).clone();
    e_payment.attr('id', 'payment_' + payment.id);
    e_payment.show()
    e_payment.find('.amount').val(payment.amount);
    e_payment.find('.change').val(payment.change);
    e_payment.find('.account').val(payment.account);
    e_payment.find('.wallet_code').val(payment.wallet_code);
    $('#payments_list_' + payment.id_payment_opt).append(e_payment);

    e_payment.find('.delete').click(function (event) {
      $.ajax({
        url: "{{=URL('update_payment', args=sale.id, extension='json')}}/" + payment.id + '?delete=True'
      })
      .done(function (res) {
        info_card("{{=T('Payment removed')}}");
        $('#payment_' + payment.id).remove();
        if ($('#payments_list_' + payment.id_payment_opt).children().length == 0) {
          $('#payments_' + payment.id_payment_opt).hide();
        }
        post_update(res);
      })
      .fail(function (res) {
        info_card("{{=T('Something went wrong')}}");
      });
    });


    $('#payment_' + payment.id + ' input').change(function (event) {
      info_card("{{=T('Saving...')}}")

      var target = $(event.target)
      var field = target.attr('name');
      var value = target.val();

      $.ajax({
        url: "{{=URL('update_payment', args=sale.id, extension='json')}}/" + payment.id + '?' + field + '=' + value
      })
      .done(function (res) {
        info_card("{{=T('Saved')}}")

        post_update(res);
      })
      .fail(function (res) {
        info_card("{{=T('Something went wrong')}}")
      })
    });


  }


  // add_payment
  $('#add_payment').click(function (event) {
    $.ajax({
      url: "{{=URL('add_payment', args=sale.id, extension='json')}}/" + selected_payment_opt_id
    })
    .done(function (res) {
      info_card("{{=T('Payment added')}}")
      clone_proto_payment(res.payment);
      $('#payments_' + res.payment.id_payment_opt).show();
    })
    .fail(function (res) {
      info_card("{{=T('Unable to add payment!')}}");
    })
  });

  {{for payment in payments:}}
    $('#payments_{{=payment.id_payment_opt.id}}').show();
    clone_proto_payment({
      id: '{{=payment.id}}',
      id_payment_opt: '{{=payment.id_payment_opt.id}}',
      amount: '{{=str(DQ(payment.amount, True))}}',
      change: '{{=str(DQ(payment.change_amount, True))}}',
      account: "{{=payment.account or ''}}",
      wallet_code: "{{=payment.wallet_code or ''}}",
    });
  {{pass}}


</script>
{{end}}
