{{include 'web2py_ajax.html'}}

<style>
  body {
    font-size: 11px;
    font-family: monospace;
  }

  #ticket {
    width: 100%;
  }
</style>

<div id="ticket">
  {{for bag_item in bag_items:}}
  <div>{{=bag_item.quantity}} {{=bag_item.product_name}} ${{=bag_item.sale_price}}</div>
  {{pass}}

  <p></p>
  <div id="barcode"></div>
</div>


<script type="text/javascript" src="{{=URL('static','js/jquery-barcode.min.js')}}"></script>
<script>
  var code = "{{=bag.id}}";
  var code_length = code.length;
  for (var i = 0; i < 13 - code_length; i++) {
    code = '0' + code
  }
  $("#barcode").barcode({code: code, crc: false}, "ean13");
</script>
