{{extend 'layout.html'}}

<style>
  .supert {
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
  }
  .st-content {
    display: flex;
  }
  .st-col {
    flex: 1 1 auto;
  }
  .st-row-data {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 14px;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  .st-last {
    height: 56px;
  }
  .st-last.top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  a.st-header, .st-header {
    text-decoration: none;
    color: rgba(0,0,0,.54);
  }
  a.st-header.selected {
    text-decoration: none;
    color: rgba(0,0,0,.87);
  }
  .st-header-icon {
    font-size: 16px;
    margin-right: 6px;
    color: rgba(0,0,0,.87);
  }

  .st-header.st-options, .st-option {
    justify-content: flex-end;
  }
  .st-option a, .st-footer a {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.54);
    text-decoration: none;
  }
  .st-option i, .checkbox {
    font-size: 18px;
  }

  .st-checks-col {
    width: 42px;
    max-width: 42px;
    min-width: 42px;
  }
  .st-check {
    color: rgba(0,0,0,.54);
    padding-left: 0px;
    padding-right: 0px;
    flex: 0 0 auto;
  }
  .st-check input[type='checkbox'] {
    display: none;
  }
  .st-check label {
    margin: 0px;
  }
  .checkbox {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .st-footer {
    color: rgba(0,0,0,.54);
    justify-content: flex-end;
  }
  .st-ipp {
    margin-left: 40px;
  }
  .st-prev-page {
    margin-left: 32px;
  }
  .st-next-page {
    margin-left: 24px;
  }
</style>

{{=data}}

{{include 'core_button.html'}}
