{{extend 'layout.html'}}
<h1>{{=T('Payment Options')}}</h1>


{{if payment_opts:}}
  {{delete_enabled = True}}
  {{include 'selection_menu.html'}}

  {{=data_table(
     ['#', 'Name', 'Allows Change', 'Credit Days'],
     payment_opts,
     ['id', 'name', 'allow_change', 'credit_days'])
   }}
{{else:}}
  {{=T('No Payment Options Found, click the plus button to create one')}}
{{pass}}


<button type="button" class="cp-fab right"
        onclick="window.location.href = '{{=URL('create')}}'">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
