{{extend 'layout.html'}}
<h1>{{=T('Addresses')}}</h1>


{{if addresses:}}
  {{delete_enabled = True}}
  {{include 'selection_menu.html'}}

  {{
    =data_table(['#', 'Address'], addresses,
                ['id', ['street', 'exterior', 'interior', 'neighborhood']])
  }}
{{else:}}
  {{=T('No addresses found')}}
  {{if request.user_agent().is_mobile:}} {{=T('touch')}} {{else:}} {{=T('click')}} {{pass}}
  {{=T('the plus button to create one.')}}
{{pass}}

<div class="cp-fab-container">
  <button type="button" class="cp-fab right"
	      onclick="window.location.href = '{{=URL('create')}}'">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
