{{extend 'layout.html'}}
<h1>{{=T('Addresses')}}</h1>


{{if addresses:}}
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>{{=T('Address')}}</th>
    </thead>
    <tbody>
      {{for address in addresses:}}
        <tr onclick="window.location.href = '{{=URL('update', args=address.id)}}';">
          <td>{{=address.id}}</td>
          <td>{{=address.street}} {{=address.exterior}} {{=address.interior}}  {{=address.neighborhood}}</td>
        </tr>
      {{pass}}
    </tbody>
  </table>
</div>
{{else:}}
  {{=T('No addresses found')}}
  {{if request.user_agent().is_mobile:}} {{=T('touch')}} {{else:}} {{=T('click')}} {{pass}}
  {{=T('click the plus button to create one.')}}
{{pass}}


<button type="button" class="cp-fab right"
        onclick="window.location.href = '{{=URL('create')}}'">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
