{{extend 'layout.html'}}
<h1>{{=T('Addresses')}}</h1>


{{if addresses:}}
<table class="table table-hover">
  <thead>
    <td>ID</td>
    <td>{{=T('Address')}}</td>
  </thead>
  <tbody>
    {{for address in addresses:}}
      <tr onclick="window.location.href = '{{=URL('update', args=address.id)}}';">
        <td>{{=address.id}}</td>
        <td>{{=address.street}} {{=address.exterior}} {{=address.interior}}  {{=address.neighborhood}}</td>
      </tr>
    {{pass}}
  </tbody>
</table>
{{pass}}


<button type="button" class="cp-fab right"
        onclick="window.location.href = '{{=URL('create')}}'">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
