{{extend 'layout.html'}}
<h1>{{=T('Add')}} Items</h1>
{{=form}}
{{new_item_js_url = URL('static', 'js/create_item.js')}}

<style>
  #items_list {
    margin-bottom: 15px;
  }
</style>


<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <div class="panel panel-primary" hidden="hidden" id="new_item_panel">
      <div class="panel-heading">{{=T('New Item')}}
        <button class="btn btn-danger" id="cancel_new_item">{{=T('Cancel')}}</button>
      </div>
      <div class="panel-body" id="new_item_form_container">
      </div>

    </div>
  </div>
</div>


<div>
  <!-- Items list -->
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3" id="items_list"></div>
  </div>
  <!-- buttons -->
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <button class="btn btn-primary" id="commit_btn">
        {{=T('Commit')}}
      </button>
      <button class="btn btn-default" id="save_btn">
        {{=T('Save')}}
      </button>
    </div>
  </div>
</div>


<!-- Prototype element for purchase items list  -->
<div href="#" class="list-group-item" id="proto_item">
  <h4> <span class="item_name"></span> <i class="fa fa-times right close"></i></h4>
  <p><i class="fa fa-barcode"> </i> <span class="barcode"></span></p>
  <div class="form-inline">

    <div class="form-group">
      <label class="control-label">{{=T('Quantity')}} </label>
      <input type="text" class="form-control quantity" name="quantity" placeholder="{{=T('Quantity')}}">
    </div>
    <div class="form-group">
      <label class="">{{=T('Buy Price')}}</label>
      <input type="text" class="form-control price" name="price" placeholder="{{=T('Buy Price')}}">
    </div>

    <div class="form-group">
      <label>{{=T('Taxes')}}</label>
      <input type="text" class="form-control taxes" placeholder="{{=T('Taxes')}}" disabled>
    </div>

    <!-- Prices -->
    <div class="form-group">
      <label class="">{{=T('Base Price')}}</label>
      <input type="text" class="form-control base_price" placeholder="{{=T('Sale Price')}}">
    </div>
    <div class="form-group">
      <label class="">{{=T('Price 2')}}</label>
      <input type="text" class="form-control price2" placeholder="{{=T('Sale Price')}}">
    </div>
    <div class="form-group">
      <label>{{=T('Price 3')}}</label>
      <input type="text" class="form-control price3" placeholder="{{=T('Sale Price')}}">
    </div>

    <button class="btn btn btn-default show-serials">{{=T('Serial numbers')}}</button>
    <div>
      <div class="form-group serial_numbers_fg" style="width: 100%; display: None">
        <label>{{=T('Serial Numbers')}}</label>
        <textarea class="form-control serial_numbers" name="" id="" rows="10" style="width: 100%; resize: none;" cols="auto"></textarea>
      </div>
    </div>
  </div>
</div>




<script>
  $('#proto_item').hide();


  $('#save_btn').on('click', function() {
    window.location.href = '{{=URL("save", args=purchase.id)}}';
  });

  $('#commit_btn').on('click', function() {
    window.location.href = '{{=URL("commit", args=purchase.id)}}';
  });


  $('#cancel_new_item').on('click', function() {
    $('#new_item_form').remove();
    $('#new_item_panel').hide();
  });

  function remove_item(key, purchase_item_id) {
    $('#' + key).remove();
    $.ajax({
      url: "{{=URL('delete_purchase_item', extension='json')}}/" + purchase_item_id
    })
    .done(function (data) {
      console.log(data);
    })
  }

  function refresh_purchase_item(pitem) {
    var key = "#item_" + pitem.item.barcode;

    $(key).find('.quantity').val(pitem.quantity);
    $(key).find('.price').val(pitem.price);
    $(key).find('.taxes').val(pitem.taxes);
    $(key).find('.base_price').val(pitem.base_price);
    $(key).find('.price2').val(pitem.price2);
    $(key).find('.price3').val(pitem.price3);
    $(key).find('.serial_numbers').val(pitem.serial_numbers);
  }


  function call_purchase_item_modifier(purchase_item_id, param_name, param_value, barcode) {
    if (!param_value) {return false}
    // $('#item_' + barcode).addClass('bg-warning');
    $('#item_' + barcode).css('background-color', '#FCF8E3');
    $.ajax({
      url: '{{=URL("modify_purchase_item", extension="json")}}/' + purchase_item_id + '/' + param_name + '/' + param_value
    })
    .done(function(res) {
      refresh_purchase_item(res);

      $('#item_' + barcode).css('background-color', '#DFF0D8');
      window.setTimeout(function() {
        $('#item_' + barcode).css('background-color', 'white');
      }, 800)
    });
  }


  // clones the proto html item list element and cofigures the newly created element
  function create_html_item(item, barcode, purchase_item) {
    var key = 'item_' + barcode;
    var el_item = $('#proto_item').clone();
    el_item.attr('id', key);
    el_item.show();
    el_item.css('display', 'block');
    var pitem_id = purchase_item.id;
    el_item.find('.item_name').html(item.name);
    el_item.find('.close').on('click', function() {remove_item(key, purchase_item.id);});
    el_item.find('.barcode').text(barcode);

    var quantity = el_item.find('.quantity');
    var buy_price = el_item.find('.price');
    var base_price = el_item.find('.base_price');
    var price2 = el_item.find('.price2');
    var price3 = el_item.find('.price3');
    var serial_numbers = el_item.find('.serial_numbers')

    $('#items_list').prepend(el_item);
    refresh_purchase_item(purchase_item);

    quantity.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'quantity', parseFloat($(this).val()), barcode);
    });

    buy_price.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'price', parseFloat($(this).val()), barcode);
    });

    base_price.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'base_price', parseFloat($(this).val()), barcode);
    });
    price2.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'price2', parseFloat($(this).val()), barcode);
    });
    price3.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'price3', parseFloat($(this).val()), barcode);
    });

    serial_numbers.on('change', function() {
      call_purchase_item_modifier(pitem_id, 'serial_numbers', $(this).val(), barcode);
    });

    el_item.find('.show-serials').click(function(event) {
      el_item.find('.serial_numbers_fg').toggle();
    })
  }


  $("#bundle_form").on('submit', function(event) {
    event.preventDefault();
    $('#no_table_scan_code').focus();
    return false;
  });



  // replaces default form submission, in order to send an ajax request to fetch the barcode and create the purchase item
  $("#scan_form").on('submit', function(event) {
    event.preventDefault();

    $('#bundle_items_form_group').show();

    var code = $('#no_table_barcode').val();
    if ($.find("#item_" + code).length) {
      return false;
    }
    $.ajax({
      url: "{{=URL('item', 'find_by_code', extension='json')}}/" + code
    })
    .done(function(data) {
      var item = data.item;
      $.ajax({
        url: "{{=URL('add_purchase_item', args=purchase.id, extension='json')}}/" + item.id
      })
      .done(function(data) {
        create_html_item(item, code, data.purchase_item);
      })
      .fail(function(data) {
        alert("{{=T('Could not add item!')}}")
      });
    })
    .fail(function(data) {
      // this happens when the item wasn't found, so we need to display the item
      // creation form.
      $('#new_item_form_container > *').remove();
      $.ajax({
        url: "{{=URL('item', 'create_or_update', extension='json')}}"
      })
      .done(function (data) {
        $('#new_item_form_container').append(data.form);
        var new_item_form = $('#new_item_form_container').find('form');
        new_item_form.attr('id', 'new_item_form');
        new_item_form.find('#item_sku').val(code);
        // avoids default submit
        new_item_form.on('submit', function(event) {
          event.preventDefault();

          // remove all errors
          $(this).find('.error_wrapper').remove();

          var item_data = {
              name: $('#item_name').val()
            , sku: $('#item_sku').val()
            , ean: $('#item_ean').val()
            , upc: $('#item_upc').val()
            , description: $('#item_description').val()
            , id_brand: $('#item_id_brand').val()
            , categories: $('#categories_selected').val()
            , traits: $('#traits_selected').val()
            , has_inventory: $('#item_has_inventory').prop('checked')
            , base_price: $('#item_base_price').val()
            , price2: $('#item_price2').val()
            , price3: $('#item_price3').val()
            , id_measure_unit: $('#item_id_measure_unit').val()
            , taxes: $('#item_taxes').val()
            , allow_fractions: $('#item_allow_fractions').prop('checked')
            , reward_points: $('#item_reward_points').val()
          };
          url = "{{=URL('add_item_and_purchase_item', args=purchase.id, extension='json')}}?"
          for (var prop in item_data) {
            if (item_data.hasOwnProperty(prop)) {
              url += prop + '=' + item_data[prop] + '&'
            }
          }
          $.ajax({
            url: url
          })
          .done(function (data) {
            // display the errors returned by the server
            if (data.errors) {
              for (var prop in data.errors) {
                $('#item_' + prop + '__row').find('.help-block').before('<div class="error_wrapper"><div class="error">' + data.errors[prop] + '</div></div>')
              }
            }
            else {
              // add the new purchase item to the list
              create_html_item(data.item, code, data.purchase_item);
              $('#new_item_form').remove();
              $('#new_item_panel').hide();
            }
          })
          .fail(function (data) {
            console.log('error: ' + data);
          })

          return false;
        });
        item_id = "";
        $.getScript('{{=new_item_js_url}}');
        $('#new_item_panel').show();
      });
    });

    return false;
  });


  // purchase_items is a javascript variable sended by the server. in the purchase_items_form
  for (var i in purchase_items) {
    var purchase_item = purchase_items[i];
    create_html_item(purchase_item.item, purchase_item.item.barcode, purchase_item);
  }

</script>
