{{extend 'layout.html'}}
<h1>{{=T('Add')}} Items</h1>
{{=form}}
<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9" id="items_list"></div>
</div>


<a href="#" class="list-group-item" id="proto_item">
  <h4> <span></span> <i class="fa fa-times right"></i></h4>
  <p></p>
  <div class="form-inline">
    <div class="input-group">
      <div class="input-group-addon">{{=T('Quantity')}}</div>
      <input id="proto_qty" type="text" class="form-control" name="quantity" placeholder="{{=T('Quantity')}}">
    </div>
    <div class="input-group">
      <div class="input-group-addon">{{=T('Buy Price')}}</div>
      <input id="proto_buy_price" type="text" class="form-control" name="price" placeholder="{{=T('Buy Price')}}">
    </div>
    <div class="input-group">
      <div class="input-group-addon">{{=T('Sale Price')}}</div>
      <input id="proto_sale_price" type="text" class="form-control" placeholder="{{=T('Sale Price')}}">
    </div>
    <div class="input-group">
      <div class="input-group-addon">{{=T('Taxes')}}</div>
      <input id="proto_taxes" type="text" class="form-control" placeholder="{{=T('Taxes')}}" disabled>
    </div>
    <div>
      <div class="input-group">
        <div class="input-group-addon">{{=T('Serial Numbers')}}</div>
        <textarea id="proto_serials" class="form-control" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>
</a>


<script>
  $('#proto_item').hide();

  function remove_item(key, purchase_item_id) {
    $('#' + key).remove();
    $.ajax({
      url: "{{=URL('delete_purchase_item', extension='json')}}/" + purchase_item_id
    })
    .done(function (data) {
      console.log(data);
    })
  }
  //
  //
  // function add_item(bundle_item) {
  //   bundle_item.qty += 1;
  //   var el_item_qty = $('#item_qty_' + bundle_item.id);
  //   el_item_qty.val(bundle_item.qty);
  //
  //   // racalculate the items list based on the bundle_items map
  //   create_bundle_items_list();
  // }
  //

  function call_purchase_item_modifier(purchase_item_id, param_name, param_value) {
    $.ajax({
      url: '{{=URL("modify_purchase_item")}}/' + purchase_item_id + '/' + param_name + '/' + param_value
    })
    .done(function(res) {
      console.log(res);
    });
    console.log(' valid ');
  }

  function create_html_item(item, barcode, purchase_item) {
    console.log("purchase_item" + purchase_item);
    var key = 'item_' + barcode;
    var el_item = $('#proto_item').clone();
    el_item.attr('id', key);
    el_item.show();
    el_item.css('display', 'block');
    el_item.find('h4').find('span').html(item.name);
    el_item.find('i').on('click', function() {remove_item(key, purchase_item.id);});
    el_item.find('p').text('{{=T("barcode")}}: ' + barcode);
    var pitem_id = purchase_item.id;
    el_item.find('#proto_qty').val(purchase_item.quantity);
    el_item.find('#proto_qty').attr('id', 'pitem_qty_' + pitem_id);
    el_item.find('#proto_buy_price').val(purchase_item.price);
    el_item.find('#proto_buy_price').attr('id', 'pitem_buy_price_' + pitem_id);
    el_item.find('#proto_sale_price').attr('id', 'pitem_sale_price_' + pitem_id);
    el_item.find('#proto_taxes').val(purchase_item.taxes);
    el_item.find('#proto_taxes').attr('id', 'pitem_taxes_' + pitem_id);
    el_item.find('#proto_serials').val(purchase_item.serail_numbers);
    el_item.find('#proto_serials').attr('id', 'pitem_serials_' + pitem_id);

    $('#items_list').append(el_item);

    $('#pitem_qty_' + pitem_id).on('change', function() {
      var qty = parseFloat($(this).val());
      if (qty) {
        call_purchase_item_modifier(pitem_id, 'quantity', qty);
      }
    });

    $('#pitem_buy_price_' + pitem_id).on('change', function() {
      var qty = parseFloat($(this).val());
      if (qty) {
        call_purchase_item_modifier(pitem_id, 'price', qty);
      }
    });

    $('#pitem_sale_price_' + pitem_id).on('change', function() {
      var qty = parseFloat($(this).val());
      if (qty) {
      }
    });

    $('#pitem_serials_' + pitem_id).on('change', function() {
      call_purchase_item_modifier(pitem_id, 'serial_numbers', $(this).val());
    });
  }


  $("#bundle_form").on('submit', function(event) {
    event.preventDefault();
    $('#no_table_scan_code').focus();
    return false;
  });



  // replaces default form submission, in order to send an ajax request to fetch the barcode and create the purchase item
  $("#scan_form").on('submit', function(event) {
    event.preventDefault();

    $('#bundle_items_form_group').show();

    var code = $('#no_table_barcode').val();
    if ($.find("#item_" + code).length) {
      return false;
    }
    $.ajax({
      url: "{{=URL('item', 'find_by_code', extension='json')}}/" + code
    })
    .done(function(data) {
      var item = data.item;
      $.ajax({
        url: "{{=URL('add_purchase_item', args=purchase.id, extension='json')}}/" + item.id
      })
      .done(function(data) {
        create_html_item(item, code, data.purchase_item);
      })
      .fail(function(data) {
        alert("{{=T('Could not add item!')}}")
      });
      // index_item(data.item);
    })
    .fail(function(data) {
      // this happens when the item wasn't found, so we need to display the item
      // creation form.
      alert("{{=T('Item not found!')}}")
    });

    return false;
  });


  // purchase_items is a javascript variable sended by the server. in the purchase_items_form
  for (var i in purchase_items) {
    var purchase_item = purchase_items[i];
    create_html_item(purchase_item.item, purchase_item.item.barcode, purchase_item);
  }

</script>
