{{left_sidebar_enabled = True}}
{{extend 'layout.html'}}

{{block page_css}}
  <link rel="stylesheet" href="{{=URL('static', 'font-awesome/css/font-awesome.min.css')}}">
{{end}}


{{block left_sidebar}}
<h1>{{=T('Purchase')}} {{=purchase.id}}</h1>
  {{=form}}
{{end}}


<h1>{{=T('Current item')}}</h1>
<div id="purchase_scanner_container"></div>

<div>
  <div>
    <div class="panel panel-primary" hidden="hidden" id="new_item_panel">
      <div class="panel-heading">{{=T('New Item')}}
        <button class="btn btn-default" id="cancel_new_item">{{=T('Cancel')}}</button>
      </div>
      <div class="panel-body" id="new_item_form_container">
      </div>

    </div>
  </div>
</div>


<div>
  <!-- Items list -->
  <div id="items_list">

    {{ if current_stock_item: }}


    {{bg_url = URL('static', 'images/no_image.svg')}}

    {{item_image = db(db.item_image.id_item == current_stock_item.id_item.id).select().first() }}
    {{ if item_image: }}
      {{bg_url = URL('static', 'uploads/', args=item_image.md)}}
    {{ pass }}
    <div href="#" class="card shadow-1 " id="current_stock_item">
      <section class="left-content" style="background-image: url({{=bg_url}})">

      </section>

      <section class="right-content">
        <h3 class="header">
          <span class="item-info">
            {{=current_stock_item.id_item.name}}
            <span class="barcode">
              #{{=item_barcode(current_stock_item.id_item)}}
            </span>
          </span>
         {{=ICON('close', _id='remove_stock_item_btn')}}
        </h3>
        <hr>

        <div class="form-inline">
          <div class="form-group">
            <label class="control-label">{{=T('Quantity')}} </label>
            <input type="text" class="form-control quantity" name="quantity" placeholder="{{=T('Quantity')}}" value="{{=DQ(current_stock_item.purchase_qty, True, True)}}">
          </div>
          <div class="form-group">
            <label class="">{{=T('Buy Price')}}</label>
            <input type="text" class="form-control price" name="price" placeholder="{{=T('Buy Price')}}" value="{{=DQ(current_stock_item.price, True)}}">
          </div>

          <div class="form-group">
            <label>{{=T('Taxes')}}</label>
            <input type="text" class="form-control taxes number" placeholder="{{=T('Taxes')}}" disabled value="{{=DQ(current_stock_item.taxes, True)}}">
          </div>

          <!-- Prices -->
          <div class="form-group">
            <label class="">{{=T('Base Price')}}</label>

            <div class="inputs">
              <div class="input-group">
                <input type="number" class="form-control number" name="item_earnp_base" placeholder="{{=T('percentage')}}" value="{{=current_stock_item.earnp_base_price}}"
                  id="item_earnp_base" data-target="base_price"
                >
                <span class="input-group-addon">%</span>
              </div>
              <input type="text" class="form-control base_price number" placeholder="{{=T('Sale Price')}}" value="{{=DQ(current_stock_item.base_price, True)}}"
                id="item_base_price"
              >
            </div>

          </div>
          <div class="form-group">
            <label class="">{{=T('Price 2')}}</label>

            <div class="inputs">
              <div class="input-group">
                <input type="number" class="form-control number" name="item_earnp_2" placeholder="{{=T('percentage')}}" value="{{=current_stock_item.earnp_price2}}"
                  id="item_earnp_2" data-target="price2"
                >
                <span class="input-group-addon">%</span>
              </div>
              <input type="text" class="form-control price2 number" placeholder="{{=T('Sale Price')}}" value="{{=DQ(current_stock_item.price2, True) or ''}}"
                id="item_price_2"
              >
            </div>

          </div>
          <div class="form-group">
            <label>{{=T('Price 3')}}</label>
            <div class="inputs">
              <div class="input-group">
                <input type="number" class="form-control number" name="item_earnp_3" placeholder="{{=T('percentage')}}" value="{{=current_stock_item.earnp_price3}}"
                  id="item_earnp_3" data-target="price3"
                >
                <span class="input-group-addon">%</span>
              </div>
              <input type="text" class="form-control price3 number" placeholder="{{=T('Sale Price')}}" value="{{=DQ(current_stock_item.price3, True) or ''}}"
                id="item_price_3"
              >
            </div>

          </div>
        </div>
      </section>

    </div>
    {{ else: }}
      <p>
        {{=T('Please select an item from the table, or scan a barcode')}}
      </p>
    {{ pass }}

  </div>
</div>


<hr>
<h1>Items</h1>
{{=stock_items_table}}


{{new_item_js_url = URL('static', 'js/create_item.js')}}
{{ block page_js }}
<script>
  // purchase modification
  $('#purchase_form input, #purchase_form select').change(function (event) {
    info_card("{{=T('Saving')}}");
    $.ajax({
      url: "{{=URL('update_value', args=purchase.id, extension='json')}}?" + event.target.name + '=' + event.target.value
    })
    .done(function (res) {
      for (k in res) {
        $('#purchase_' + k).val(res[k]);
      }
      info_card("{{=T('Saved')}}", null, 'success');
    })
    .fail(function (res) {
      info_card("{{=T('Could not save changes')}}", null, 'error');
    });
  });


  $('#cancel_new_item').on('click', function() {
    $('#new_item_form').remove();
    $('#new_item_panel').hide();
    $('#barcode__purchases').val("");
    $('#current_stock_item').show();
  });


  // Add some buttons to total and subtotal
  function update_total_and_subtotal() {
    $.ajax({
      url: "{{=URL('purchase', 'set_total_and_subtotal', extension='json', args=purchase.id)}}"
    })
    .done(function (res) {
      console.log(res);
      $('#purchase_total').val(res.total);
      $('#purchase_subtotal').val(res.subtotal);
    })
    .fail(function (res) {

    })
  }

  function modify_total_input(id) {
    var div = document.createElement('div');
    div.classList.add('input-group');

    div.appendChild($('#' + id).detach()[0]);

    var apply_system_q_addon = document.createElement('span');
    apply_system_q_addon.classList.add('input-group-btn');
    var apply_system_q_btn = document.createElement('button');
    apply_system_q_btn.classList.add('btn', 'btn-default');
    apply_system_q_btn.type = 'button';
    apply_system_q_btn.textContent = '{{=T("Calculate")}}'
    apply_system_q_btn.addEventListener('click', update_total_and_subtotal);

    apply_system_q_addon.appendChild(apply_system_q_btn);
    div.appendChild(apply_system_q_addon);

    document.getElementById(id + "__row").appendChild(div);
  }
  modify_total_input('purchase_total');


  function refresh_stock_item(pitem) {
    var key = "#current_stock_item";

    $(key).find('.quantity').val(pitem.purchase_qty);
    $(key).find('.price').val(pitem.price);
    $(key).find('.taxes').val(pitem.taxes);
    $(key).find('.base_price').val(pitem.base_price);
    $(key).find('.price2').val(pitem.price2);
    $(key).find('.price3').val(pitem.price3);
    $(key).find('.serial_numbers').val(pitem.serial_numbers);

    // update earning percentages
    $("#item_earnp_base").val(pitem.earnp_base_price);
    $("#item_earnp_2").val(pitem.earnp_price2);
    $("#item_earnp_3").val(pitem.earnp_price3);
  }


  function call_stock_item_modifier(stock_item_id, param_name, param_value, barcode) {
    if (!param_value) {return false}

    info_card("{{=T('Saving')}}...");
    $.ajax({
      url: '{{=URL("modify_stock_item", extension="json")}}/' + stock_item_id + '/' + param_name + '/' + param_value
    })
    .done(function(res) {
      info_card("{{=T('Saved')}}", null, "success");
      refresh_stock_item(res);

      // modify the table
      $('#s_item_' + stock_item_id + '_' + param_name).text(res[param_name]);

    });
  }


  {{ if current_stock_item: }}
    var stock_item_id = {{=current_stock_item.id}};
    var barcode = "{{=item_barcode(current_stock_item.id_item)}}"
    var quantity = $('#current_stock_item input[name="quantity"]');
    var buy_price = $('#current_stock_item input[name="price"]');
    var base_price = $('#item_base_price');
    var price2 = $('#item_price_2');
    var price3 = $('#item_price_3');

    quantity.on('change', function() {
      call_stock_item_modifier(stock_item_id, 'purchase_qty', parseFloat($(this).val()), barcode);
    });
    buy_price.on('change', function() {
      call_stock_item_modifier(stock_item_id, 'price', parseFloat($(this).val()), barcode);
    });
    base_price.on('change', function() {
      call_stock_item_modifier(stock_item_id, 'base_price', parseFloat($(this).val()), barcode);
    });
    price2.on('change', function() {
      call_stock_item_modifier(stock_item_id, 'price2', parseFloat($(this).val()), barcode);
    });
    price3.on('change', function() {
      call_stock_item_modifier(stock_item_id, 'price3', parseFloat($(this).val()), barcode);
    });



    $("#item_earnp_base,#item_earnp_2,#item_earnp_3").on('change', function() {
      var input = $(this);
      var target = input.data('target');
      var ep = input.val()

      info_card("{{=T('Saving')}}...");

      $.ajax({
        url: '{{=URL("update_stock_item_price", extension="json")}}/' + stock_item_id + '?target=' + target + '&ep=' + ep
      })
      .done(function (res) {
        refresh_stock_item(res);
        info_card("{{=T('Saved')}}", null, "success");
      })
      .fail(function (res) {

      })

      return;
    });



    $('#remove_stock_item_btn').click(function (event) {
      window.location.href = "{{=URL('delete_stock_item')}}/" + {{=current_stock_item.id}};
    });


    function requirement(barcode) {
      // in this case ignore redirection and add one to the quantity instead
      if (barcode == "{{=item_barcode(current_stock_item.id_item)}}") {
        var qty_input = $('#current_stock_item input[name="quantity"]');
        var new_qty =  parseFloat(qty_input.val()) + 1;
        qty_input.val(new_qty);
        call_stock_item_modifier({{=current_stock_item.id}}, 'purchase_qty', parseFloat(new_qty), barcode);
        return false;
      } else return true;
    }

  {{ else: }}
    function requirement(barcode) { return true; }
  {{ pass }}


  $("#bundle_form").on('submit', function(event) {
    event.preventDefault();
    $('#no_table_scan_code').focus();
    return false;
  });



  // replaces default form submission, in order to send an ajax request to fetch the barcode and create the purchase item

  function success_callback(data, barcode) {
    var item = data;
    window.location.href = "{{=URL('add_stock_item', args=purchase.id)}}/" + item.id
  }

  function fail_callback(data, barcode) {
    // this happens when the item wasn't found, so we need to display the item
    // creation form.
    $('#new_item_form_container > *').remove();
    // hide the current item
    $('#current_stock_item').hide();
    $.ajax({
      url: "{{=URL('item', 'create_or_update', extension='json')}}"
    })
    .done(function (data) {
      $('#new_item_form_container').append(data.form);
      var new_item_form = $('#new_item_form_container').find('form');
      new_item_form.attr('id', 'new_item_form');
      new_item_form.find('#item_sku').val(barcode);
      // avoids default submit
      new_item_form.on('submit', function(event) {
        event.preventDefault();

        // remove all errors
        $(this).find('.error_wrapper').remove();

        var item_data = {
            name: $('#item_name').val()
          , sku: $('#item_sku').val()
          , ean: $('#item_ean').val()
          , upc: $('#item_upc').val()
          , description: $('#item_description').val()
          , id_brand: $('#item_id_brand').val()
          , categories: $('#categories_selected').val()
          , traits: $('#traits_selected').val()
          , has_inventory: $('#item_has_inventory').prop('checked')
          , base_price: $('#item_base_price').val()
          , price2: $('#item_price2').val()
          , price3: $('#item_price3').val()
          , id_measure_unit: $('#item_id_measure_unit').val()
          , taxes: $('#item_taxes').val()
          , allow_fractions: $('#item_allow_fractions').prop('checked')
          , reward_points: $('#item_reward_points').val()
        };
        url = "{{=URL('add_item_and_stock_item', args=purchase.id, extension='json')}}?"
        for (var prop in item_data) {
          if (item_data.hasOwnProperty(prop)) {
            url += prop + '=' + item_data[prop] + '&'
          }
        }
        $.ajax({
          url: url
        })
        .done(function (data) {
          // display the errors returned by the server
          if (data.errors) {
            for (var prop in data.errors) {
              $('#item_' + prop + '__row').find('.help-block').before('<div class="error_wrapper"><div class="error">' + data.errors[prop] + '</div></div>')
            }
          }
          else {
            // add the new purchase item to the list
            window.location.href = "{{=URL('fill', args=[purchase.id])}}/" + data.stock_item.id;
          }
        })
        .fail(function (data) {
          console.log('error: ' + data);
        })

        return false;
      });
      item_id = "";
      $.getScript('{{=new_item_js_url}}');
      $('#new_item_panel').show();
    });
  }

  var scanner = BarcodeScanner('purchase', $('#purchase_scanner_container'));
  scanner.setup(success_callback, fail_callback, requirement, null);

</script>
{{ end }}
